[2017-06-14 15:33] benjaminj6 commented on #14
@jbucaran I'd be happy to 😀
I should have time in the next couple days to set up a couple glitch apps!

[2017-06-14 19:26] jamen commented on #194
@jbucaran Not sure if this is a relevant place to discuss, but...  Is there any value in adding support for plugins/mixins that are just objects:

[code]

I think this is a better mechanism for plugins that don't want the app options, but rather just some localized options.  This is good if you have one plugin who depends on another, and you don't want the dependency's options to bleed through `ap

[2017-06-14 19:27] mietennet opened #232 "Unicode Char"
Hi,

my state contains a unicode char like '•' (\&bull\;), but rendering that results in:

<span>â€¢</span>

any advice?

Thanks

[2017-06-14 19:59] jamen commented on #194
Actually, thinking over what I posted there.  I don't like how it introduces some more complexity into the API...  What I describe is technically already possible, with a little bit of extra work.   E.g.:

[code]

[2017-06-14 20:12] mietennet commented on #232
Problem solved!

[2017-06-14 20:12] #232 closed

[2017-06-15 00:23] jbucaran commented on #14
@benjaminj6 That would be even better, but let me clarify, that by "virtual", I wanted to say dream code, so basically a "non-working" example that simply illustrates SSR with hyperapp. Does that make more sense? :)

[2017-06-15 01:19] benjaminj6 commented on #14
Yeah that makes perfect sense. I'll whip some samples up over the next couple days 👌🏻

[2017-06-16 06:00] benjaminj6 commented on #14
So here's my thoughts for a simple implementation of SSR. I'll try to work on something a little more involved in a bit, but I'd love to hear nay thoughts.

Simple `render` function -- Counter app

[code]

The important things to note with this:

1. I made everything more modular than a lot of the examples. Because the `view` and `actions` need to be used in two places they need to be exportable.

[2017-06-16 13:53] #194 closed

[2017-06-16 13:57] SkaterDad commented on #14
@benjaminj6 The approach you laid out is nice & clean, but I think we may need to have an instance of `hyperapp` loaded up on the server-side in order to execute the lifecycle hooks and plugins (mixins) that someone may be using.  Probably not the full `hyperapp`, but something similar enough which invokes all the hooks then spits out HTML.

Here's a couple ideas with the router.
1st idea, you reg

[2017-06-16 15:39] dodekeract commented on #14
I'm not even sure if we need a real router on the server-side. Only the "rendering" part of the router would be enough. The URL can be manipulated by changing the initial state.

[2017-06-16 18:38] jamen opened #235 "components"
Me and @whaaaley had a convo about how hyperapp could manage its components, and had some interesting ideas.  To sum up the proposal of what I want to implement, here an example of a mixin that contains the state, actions, and views of components:

[code]

Components are defined as `(data, children)` and return vnodes (from `h()`).  They are used by providing the property name through the `tag` of

[2017-06-16 19:36] whaaaley commented on #235
I think this is great! The only change I would make here is to rename `components` to `templates`, only because I'm conditioned to think of a component as state, actions, and events, not just the `h()`.

[2017-06-17 00:22] jbucaran commented on #235
@jamen I would go with just `view` since it's one less word to remember.

Is there a reason why the signature is (data, children)? That looks like the signature of a custom tag (props, children). Are they related? And what about actions or state? The view don't need that? 🤔

[2017-06-17 19:17] jamen commented on #235
@jbucaran So I guess you can think of the proposal as a change to custom tags, then.  I'm suggesting they be defined through `app.templates` (or some other name).  That way mixins have a role in reusing the view, and also how they are defined on the same level as their actions and state.

[2017-06-18 03:03] jbucaran commented on #235
@jamen (1) is certainly no good ;) and (2), implementation hurdles aside, can be discussed.

As you mentioned on Slack, you didn't know about custom tags before you created this issue, so maybe we should close here and start a new issue. You can explain then what's not sufficient about custom tags and why introducing a third tag type would be a good thing.

I feel that someone stumbling upon this

[2017-06-18 03:11] #235 closed

[2017-06-18 18:13] naugtur commented on #219
The benefit of functional programming here is that it can easily be done in userspace.

PoC without async support:
https://codepen.io/naugtur/pen/zzNXJL

Totally optional fragmentation/nesting to any depth.

[2017-06-20 20:23] zaceno commented on #147
@queckezz Here's a simple little pattern for stateful components in hyperapp:

[code]

usage demo here: https://codepen.io/zaceno/pen/EXmXPY?editors=0010

[2017-06-21 03:56] jbucaran opened #238 "Components"
Let's discuss how components could look like in a future version of HyperApp.

### Submitted Proposals

- https://gist.github.com/zaceno/83286dfd2a18ebbd3b4f1d7cb5810a0c via @zaceno
- https://gist.github.com/Swizz/8437df6ac5ec4985e72e648d242f6a9f via @Swizz

---

## Example

### `counter.js`
[code]

### `index.js`
[code]

## Credits
All credit goes to @MatejMazur:
- https://github.com/MatejMazur/h

[2017-06-21 09:58] MatejMazur commented on #238
Yesterday I've created partially (doesn't work without IDs) working solution without `components: []`. Just import component and you can use it but I don't know how to track components without publicly exposed identification. I need some kind of tracking.

Here is actual and working variant of writing apps with this version:

# Example

## app.js

[code]

## counter.js

[code]

## Gif example

![e

[2017-06-21 10:14] Swizz commented on #238
This one looks too magical. For someone like me who is new into the Hyperapp community.

I am pretty in love about the fractal idea for state/actions. The main concern is to handle list of same component with their own state.

[2017-06-21 10:35] MatejMazur commented on #238
@Swizz Thanks for your view. 👍 But I think that only magic is ID part (we need some identification for instances of component if we want keep single source of truth but maybe we can hide it somehow). If you look closer. You will see that component Counter (POJO) is "stateful component". So as user you write components almost the same as `app()` (you work with component's state and actions just lik

[2017-06-21 12:54] zaceno commented on #210
I'm going to close this issue, because the discussion on this topic has come farther elsewhere (for example here: https://github.com/hyperapp/hyperapp/issues/219)

[2017-06-21 12:54] #210 closed

[2017-06-21 13:32] jbucaran commented on #210
Thanks @zaceno!

[2017-06-21 15:21] jbucaran commented on #238
@MatejMazur The magical part is what you are doing inside `h` to make this miracle happen. 💯

The reason it is magical is that custom tags return a virtual node tree, not an object. So, although I like this I also agree with @Swizz.

### ids

I don't think we need to get rid of ids. The id is not really the core of how components work, but rather how index.js keeps track of them. Let's keep thinki

[2017-06-21 15:30] jbucaran commented on #238
@MatejMazur How do you pass initial values / props to a component in your example?

[2017-06-21 16:44] jamen commented on #238
Awesome @MatejMazur :smile:.  I think a good start to something awesome, looks like a clean solution to me.

Like @jbucaran, I'm wondering how you get more control over the props.  I do see you pass them through `view`, but I think you would need more "open access" over them for all fields, because it is your only method to accessing global state and global actions (by passing them through).

What

[2017-06-21 16:51] leeoniya commented on #238
FWIW, we recently had the same discussion in domvm [1], since it works this way. the only issue is that if either of those values ever get replaced by a parent, they become stale in the closure.

[1] https://github.com/leeoniya/domvm/issues/147#issuecomment-305987998

[2017-06-21 17:39] MatejMazur commented on #238
[code]

@jamen

Send example of some situation where you need more "open access". Now the `props.initial` is key for more open access.

I think that it's important to keep ordinary props separately from component state and actions because if you want somehow to interfere to component actions then why would you do that? You can change behavior of component actions by initial value (it can be str, n

[2017-06-21 18:34] lukejacksonn opened #240 "Integrated size and perf tests"
Is worth adding some npm scripts that would allow you as a developer to see if changes made had any impact on:

- Bundle size (after being minified and gzipped)
- Performance (measured by js-framework-benchmark or similar)

Is this even possible, I've never tried automating benchmarking?

[2017-06-21 23:06] zaceno commented on #238
FWIW, with one really tiny change in `app.js` + a simple function that can live in userland, it becomes possible to write code like @MatejMazur 's example above. See PR https://github.com/hyperapp/hyperapp/pull/241

... of course this approach breaks the "single source of truth" notion. In my setup each component is it's own app with it's own state. Communication between parents need to happen via

[2017-06-22 08:28] zaceno commented on #147
Update: THIS pattern works with plain unpatched vanilla hyperapp (and works with keys, which you will need if you plan to reorder/add/remove your stateful components)

[code]

A demo of it working here: https://codepen.io/zaceno/pen/yXXPJx

[2017-06-22 08:30] jbucaran commented on #147
@zaceno This is dark magic!

[2017-06-22 08:33] zaceno commented on #147
@jbucaran  😆 indeed it is. Not saying anyone *should* do this. Just that you *could* 😉

[2017-06-22 08:46] jbucaran commented on #240
That's what @ngryman is trying to do with https://github.com/hyperapp/hyperapp/pull/186.

@ngryman Also had a PR to add a bundle size badge to the README, but having a script tell you that would be better.

Something like:
[code]

[2017-06-22 11:10] zaceno opened #242 "Access current state in onremove?"
For the transitions solution I've got to work in hyperapp-apps, there needs to be a way to access the state of the app when onremove lifecycle methods are *called*.  Not the state that was when they were bound.

The onremove handler can call actions. Actions will have access to the state as it is at the time they are called. But you can't get anything out of them.

There are three solutions I can

[2017-06-22 11:14] zaceno commented on #242
Another, more serious problem with (A), is that it would couple the state management to the virtual-dom solutions within hyperapp. And make picodom diverge from hyperapp's vdom. That would not be good.

[2017-06-22 12:42] jbucaran commented on #242
@zaceno C) would not be so elegant either.

There's also...

D) Pass the emitter into views so you can create your own magic events.

[2017-06-22 13:51] SkaterDad commented on #242
Option C would really make `hyperapp` less appealing, in my opinion.

Does this need to be baked in?  We can already access `(state, actions)` in the view code, so you can pass it to your lifecycle hooks through higher order functions.

Or does this not work how it appears due to how `hyperapp` updates the state?

[code]

[2017-06-22 14:18] lukejacksonn commented on #240
Nice! A combo of those two could work great.. I will try them out

[2017-06-22 15:44] zaceno commented on #242
Personally I would prefer option B, but again, I've got no hope this will actually make it in. Just leaving the ticket here for the record.

Correct, your example won't work... or rather: it should not work according to the design, but it will work only because, as hyperapp happens to be implented for now, the reference to the state object does not change through updates.

The reason it shouldn't

[2017-06-22 15:50] zaceno commented on #242
Try your same example with a primitive as the state rather than an object, to demonstrate that it doesn't work.

[2017-06-22 16:05] SkaterDad commented on #242
Yeah, that makes sense.  I made my example state and object for that very reason, but was still unsure if `hyperapp`'s state updates would change that reference for the sake of immutability or something.  For now, I'm glad it works since I made need similar tricks for something I'm toying with.

[2017-06-22 16:06] zaceno commented on #242
@jbucaran that's intriguing. Don't we already do that? But, I'm not exactly sure how I could use that to get the current state in onremove handlers. Could you elaborate on how the "magic events" could help?

[2017-06-22 20:37] jbucaran commented on #242
Nope. Views have this signature: (state, actions).

Events have the signature (state, actions, data, emit), so you could use it to get a new copy of the state. But I still don't understand why the state bound to the view is not the same as the current state when the onremove handler is called. 🤔

[2017-06-22 21:37] zaceno commented on #242
I'll put together a demo example explaining it but basically: if a node gets removed, it means it's not part of the Vtree currently being rendered. Which means we are not redeclaring the onremove handler with the new state. If an onremove handler accesses state, it is accessin the state it was bound to (by closure) the last time it's node was rendered.

[2017-06-23 00:11] zaceno commented on #242
Another, perhaps better way to explain it: when we call onremove in the patch-function, it is always for vnodes of the OLD tree. The old tree has not been touched since back when it was a new tree. that means that the onremove handler has the same closure as it did when it was a new tree. That means old state, unless there is a function in the closure we can call, that always returns the current s

[2017-06-23 00:15] jbucaran commented on #242
@zaceno Why do you need to access the state inside onremove?

[2017-06-23 00:31] zaceno commented on #242
As you may recall, I'm using the oncreate and onremove handlers to attach css classes to the element, in order to effect entry and exit transitions.

Now say you have something like a "carousel" or a slideshow you want to navigate forward or back with buttons to the left or right. If you keep track of the current and previous slides (as well as the order of the slides) in the state, you can deduce

[2017-06-23 00:36] jbucaran commented on #242
@zaceno Gotcha. What would be the ideal way to do what you need that doesn't need the state to be passed to onremove?

[2017-06-23 00:42] zaceno commented on #242
The best (and to my knowledge only other) way would be if there was a function available to onremove handlers, which is bound to always access the current state. Actions are exactly that - except since they don't return anything, I can't use them to get access to the state. Hence my suggestions B and C

[2017-06-23 00:45] zaceno commented on #242
Again I'm not sure how events help. Maybe I'm just slow tonight... :-P

[2017-06-23 01:20] jbucaran commented on #242
@zaceno What about convenient getState action?

[2017-06-23 13:05] zaceno commented on #242
@jbucaran: awesome! That would totally work. A nice and general solution.

Wonder if there are other ways to exploit this "actions return the new state" behavior... 🤔

[2017-06-23 14:03] jbucaran commented on #242
@zaceno There is an easy way to exploit, but I'll never recommend it! 😄

[code]

[2017-06-23 14:23] zaceno commented on #242
Hehe yeah that's sneaky ;)

[2017-06-23 19:18] zaceno commented on #242
Dang.. using getState() defined in that way breaks stuff. I can't say exactly where or how yet (I've been testing on codepen without source maps). But I suspect the reason is somehow because the action -- even though it is defined  as `state => state` will trigger an update and rerender when called.

Here's the codepen. Find the line "UNCOMMENT LINE BELOW" ... and try it out ;)

https://codepen.io

[2017-06-24 02:34] jbucaran commented on #242
@zaceno How does it break stuff? Yes, the getState example provided will cause a redraw.

[2017-06-24 07:01] zaceno commented on #242
Like I said, haven't had time to debug it with source maps - but what I get isn't a "maximum call stack exceeded" type error, but something in the patch is undefined. still it's surely about the recursion somehow.

Yeah I noticed that something isn't working now too. I'm guessing my file server (serving the build of master) died. Will look into it.

[2017-06-24 07:23] MatejMazur commented on #242
I think that this could be easily solved similar way as React does (React transitions) if we find solution for components in HyperApp. [#238](https://github.com/hyperapp/hyperapp/issues/238)

[2017-06-24 13:25] zaceno commented on #242
@jbucaran: never mind my example. I realize now it can't work. Either we need a way to return stuff from actions in such a way that they *don't* cause another render. Or if we used requestAnimationFrame or similar to defer all renders, so we can avoid recursively rendering.

[2017-06-24 13:27] zaceno commented on #242
@MatejMazur: That could well be so, but I'm doubtful. There are more fundamental differences between hyperapp and React. Like the requestAnimationFrame thing that prevents recursively rendering. Either way, I'm interested to see what you come up with.

[2017-06-24 14:18] zaceno commented on #242
Perhaps the best for now is just to return an already resolved promise from the getState action. That way at least the rendering won't recurse

[2017-06-24 14:37] jbucaran commented on #242
@zaceno I thought you only needed to look at the state inside onremove. What else are you using onremove for? 🤔

[2017-06-24 21:12] zaceno commented on #242
ah it could be an effect of me trying to not repeat myself. Running getState in onremove will probably not make onremove get called twice, and since onremove is deferred, that should be safe. The problem Is probably that I'm using the same method (with getState), to determine direction for the entry transition as well (in oncreate). That will surely cause a mess, but in oncreate I can just use the

[2017-06-24 23:20] zaceno commented on #242
Yup, that was the problem. Not onremove, but me using the getState action in oncreate (trying to save some typing). This works now: https://codepen.io/zaceno/pen/xrrWdK?editors=0010

...but, for the time being, I'm using build of hyperapps master hosted on my personal server where I had to use a self signed ssl cert in order for codepen to use it. So if the codepen doesn't work, go to: https://zac

[2017-06-24 23:20] #242 closed

[2017-06-25 03:17] jbucaran commented on #242
@zaceno Thanks! After components, batching renders and using requestAnimationFrame #90 will be (hopefully) the last thing todo before 1.0.

[2017-06-25 04:18] jbucaran commented on #219
Closing in favor of #238

[2017-06-25 04:18] #219 closed

[2017-06-25 04:21] jbucaran commented on #225
Closing! 👋

[2017-06-25 04:21] #225 closed

[2017-06-25 04:24] jbucaran commented on #41
@lukejacksonn Does it make sense to have a hyper-cli/hyperapp-cli?

[2017-06-25 04:25] JorgeBucaran opened #244 "Road to 1.0"
- [x] ~~Components #238~~ (See https://github.com/hyperapp/hyperapp/issues/238#issuecomment-312455621)
- [x] Use requestAnimationFrame to throttle render/patch  #90
- [x] Add SSR DOM hydration
- [x] Improve documentation
  - [x] Explain what types are allowed in the state prop
- [x] Homepage #146 @lukejacksonn
- [x] DTD by @Swizz
- ~~[ ] Flow by @andyrj? #323 #311~~
- ~~[ ] Optimize patch?~~ Post-

[2017-06-25 07:59] zaceno commented on #41
@jbucaran, I know you asked @lukejacksonn, but I'm going to throw in my 2c here:  One of the things I like best about hyperapp is how you can just start coding. I think we should have a CLI but we need to think about how we make sure people don't miss out on the pleasant simplicity of going bare-bones.

I mean people are so used to *needing* the CLI from other frameworks, they may never even consi

[2017-06-25 12:48] lukejacksonn commented on #41
This feels like a lonnng time ago now! I am in agreement really; people want a CLI because they don't want to have to type out a load of boilerplate / create big file structures.

HyperApp doesn't demand so much so why bother.. this is probably why one hasn't materialised.

Personally I've been working on a [template](https://github.com/lukejacksonn/hyperapp-pwa) that I just clone and then quickly

[2017-06-25 17:51] dodekeract commented on #242
@zaceno

Why don't you use [letsencrypt](https://letsencrypt.org), either directly or [via caddy](https://caddyserver.com)?

[2017-06-25 17:57] zaceno commented on #242
@dodekeract: hadn't heard of letsencrypt before. How widespread is the trust of this CA?

[2017-06-25 18:18] dodekeract commented on #242
@zaceno They're supported everywhere that matters. It's definitely supported on macOS Sierra 10.12.5. They're not a "root CA", so you won't find them directly. They use a well-established trust chain. Just try them out, they're everywhere if you look closely.

I'm personally using them for all my SSL certs, including my mail server, and I never had any issue whatsoever with it.

[2017-06-25 18:23] lukejacksonn commented on #242
letsencrypt is a legitimate solution provider.

If you are just trying to host your own projects easily, over https then why not use gh-pages? If you want custom domains just include a CNAME in your repo (and point your domain at the github pages server, via cloudflare for SSL), it sounds like a hassle but once setup it just works.. and is free.

I wrote a little [repo/guide](https://github.com/lu

[2017-06-25 18:26] andyrj commented on #11
I don't think you have to create anything extra to enable HMR now...  I just slapped a quick example together that simply empties document.body.innerHTML within the module.hot.accept...
`import { h, app } from 'hyperapp';

export default () => {
	app({
		state: 'Hello World!123',
		view: state => <div>{state}</div>
	});
};`

`import app from './app';

document.body.innerHTML = '';
app();

if (modu

[2017-06-25 18:28] jbucaran commented on #11
@andyrj Thanks! I know @MatejMazur would love to see this.

Ref:
- https://github.com/MatejMazur/hyperapp-hmr-experiment

[2017-06-25 18:48] MatejMazur commented on #11
@andyrj Hi, could you send me a working example with HMR (ideally repo)? Because your code is only with static state but that's not the use case for HMR.

[2017-06-25 19:17] naugtur commented on #238
Hi everyone. I saw this thread after I already had some expectations as to how components would work and I thought I'd show you what they were.

In a nutshell:
- don't change how components work
- keep one state and one source of actions
- I went with context for passing anything instead of adding a dispatch function; seemed more powerful

See #245

[2017-06-25 20:22] jbucaran commented on #238
@naugtur Thanks for the feedback. This thread is to speculate and discuss how the components API could look like.

Absolutely! 💯

[2017-06-25 20:27] andyrj commented on #11
@MatejMazur I see the issue with HMR you are referring to but I think what is needed is a small change to the hyperapp api to accommodate saving state between module replacements...  I just hacked together the needed changes in a repo and also made an example app that shows your counter saving state during HMR...

granted this approach only saves the state every second, you could essentially chang

[2017-06-25 20:38] andyrj commented on #11
I am not familiar with the hyperapp minxins, if they have access to the full app.state, then I would guess you could do something similar from a mixin without mucking with hyperapp app.js like I had to there...

[2017-06-25 23:40] rileytg commented on #228
i've used replace in cases where i want to redirect from /myModule -> /myModule/section1 akin to 301

[2017-06-25 23:46] rileytg commented on #41
rails templates are kinda like what you're describing. personalized starters that have basic find and replace type functionality

[2017-06-26 00:48] andyrj commented on #11
@MatejMazur updated the HMR example to not need modifications to hyperapp...  working really well, noticed after looking in docs that I could just add a render event to copy new state into a global and the HMR can just reload from there...  try it out see if this pattern works for your use case I guess, I think it's what I'm gonna use moving forward with hyperapp

[2017-06-26 03:15] jbucaran commented on #41
It would be fun if there was a service we could curl for the template in a tarball instead.

[code]

[2017-06-26 06:12] andyrj opened #246 "hyperapp-hmr and hyperapp-webpack-hmr"
Opening this as mentioned from Slack to discuss the different HMR mixins that have emerged.

I want to explain why I created [hyperapp-webpack-hmr](https://github.com/andyrj/hyperapp-webpack-hmr) instead of using the existing [hyperapp-hmr mixin](https://github.com/jamen/hyperapp-hmr).

From what I could gather looking at hyperapp-hmr that plugin is still built around refreshing/reloading the page

[2017-06-26 06:45] jamen commented on #246
I think we are on the same page: `hyperapp-hmr` does not do "live-reloading" for you out of the box.  That is, it will not reload the page when you save your files.

I touched on this in [the readme of `hyperapp-hmr`](https://github.com/jamen/hyperapp-hmr#what-about-live-reloading) I can paste again here for reference:

But, I definitely think your package is a better solution for webpack, and it

[2017-06-26 07:09] andyrj commented on #41
I really like the way vue-cli handles their templates in GitHub repos, simple handle bar esque syntax and the prompts we're fairly easy to modify.  Personally I would be tempted to see if we could just fork and rebrand that client ;) just 2cents from the new guy

[2017-06-26 07:24] andyrj commented on #14
I haven't looked really close at app.js for ssr rendered dom re-hydration, but I would think we could make it a flag passed in the first render client side that simply informs the patch function that we aren't really patching, only attaching event handlers, but go ahead and build a vdom to diff against on next render.  Now how that plays with mixins I really haven't the slightest...

[2017-06-26 08:48] Swizz commented on #238
My contribution to the discussion, with a little bit of my Cycle.js thoughts (Onion, Isolate, etc...)
Like I said in favor of Fragmented State and Actions for a Single Source of Truth.

**Here is a working example on Hyperapp 0.9.3** :tada:

#### `Counter.js`
[code]

#### `index.js`
[code]

---

As you see, Mixins allow already a lot of things regarding fractal state and actions.
So, I vote in fav

[2017-06-26 09:06] mauron85 opened #248 "Small issue with the doc"
On page
https://github.com/hyperapp/hyperapp/blob/master/docs/core.md#view-and-state

last example is missing `actions` view param

[code]

[2017-06-26 18:34] naugtur commented on #248
disclaimer: I'm not a contributor to this repo, just butting in.

You can click the little pencil on github on the file, fix it and 3 clicks later you have a pull request. It's even less work than posting this.

Even if you don't want to - it's nice that you reported it!

[2017-06-26 21:08] andyrj commented on #246
The more I look and think about this the more I feel these should be separate mixins...  The fact that hyperapp-hmr was designed for persisting through refresh is a big difference from my implementation that persists on each render since we have no way to predict when hmr may occur.

I would like to get others input on this though.

[2017-06-27 00:10] jbucaran commented on #248
https://github.com/hyperapp/hyperapp/commit/6e542556837ee8a157b3cf59d4d3b89af4be50d6

I've decided to remove the example because as #238 is implemented, the Mixins API may change and mixin composition is already a bit of an obscure feature.

[2017-06-27 00:10] #248 closed

[2017-06-27 00:21] jamen opened #249 "HMR"
After talking to @whaaaley and @andyrj, I think that I have misused the term "HMR" in creating `hyperapp-hmr`.

Put simply, HMR is supposed to make the changes become active the moment that you save the file.

Mine only does half this: It pushes all the state into the next session while everything else is reloaded underneath by your own initiative...  This could be just hitting F5 and getting the

[2017-06-27 00:51] andyrj commented on #249
Personally I am used to Webpack HMR so I plan to stick with that, but if I can help somewhere would be glad to pitch in.

I don't see how we could replicate the react-hot-loader style of functionality easily (it relies heavily on components and being able to wrap what is react renders in higher order components) but the amount of code required to wire up vanilla webpack HMR is trivial and framewor

[2017-06-27 00:54] andyrj commented on #246
closing in favor of #249

[2017-06-27 00:54] #246 closed

[2017-06-27 01:03] jhwohlgemuth commented on #146
@jbucaran @dodekeract
Regarding the desire for a domain, you might consider [js.org](https://dns.js.org/). I think **hyperapp.js.org** would be pretty cool. Getting a domain from js.org is free, easy to setup, and [seems to be available](https://github.com/js-org/dns.js.org/blob/master/cnames_active.js#L349).

[2017-06-27 01:10] andyrj opened #250 "Async Routing"
I know that the bundle size is a much better situation with hyperapp but I am still interested in the possibility of having an async routing solution, after reading #176 I thought I would open an issue to just hash out what I think would be an interesting implementation and whether it should be it's own fork of the current router or if I could piece together a PR to add it as a feature to the curr

[2017-06-27 01:28] whaaaley commented on #249
I agree. I think we should leverage hyperapp's single state tree to do minimalistic state persistence and combine it with live reloading. If users are following the rules of hyperapp and have all of their state stored in hyperapp's single state tree, then as far they should be concerned this solution should is comparable to "traditional" hot module replacement.

[2017-06-27 08:23] Swizz commented on #238
A little bit more neat with JSX. :+1:
I think I will battletest this on the app I am working on.
(With some helpers for actions to avoid this long-long merge chain)

#### `Counter.js`

[code]

#### `index.js`
[code]

[2017-06-27 10:14] nitin42 commented on #244
- [ ] Lifecycle hooks
- [ ] Controlled Components
- [ ] SSR
- [ ] Recycling of DOM nodes (performance benefits)
- [ ] Recomposing components (like lodash) for expressing state updates

?

[2017-06-27 10:25] jbucaran commented on #244
@nitin42

- Lifecycle events already exist. Maybe they can be improved? Do you have any suggestions?

- SSR. There are several ad-hoc solutions.  See also: https://github.com/hyperapp/hyperapp-server for a WIP. Not sure if I should wait for SSR to release 1.0. I think not, but what do you think?

- Controlled Components. You can create your own custom tags. Why should core be concerned about this?

[2017-06-27 11:26] nitin42 commented on #244
Oh! I really wanted to work on `hyperapp` and right now I am going through the Elm Architecture doc. Where can I start  ?

From recycling of DOM nodes I meant to say that re-using the dom nodes upon their disposal.

[2017-06-27 11:31] nitin42 commented on #244
Or I can work on the website ? This will also led me to understand the core concepts and the design principles of the lib by writing about the api and their functionality. Let me know what you think !

[2017-06-27 12:39] jbucaran commented on #244
I think [here](https://guide.elm-lang.org/reuse/) is a good place to start.

Be my guest! 👍

[2017-06-27 12:46] Swizz commented on #244
Hyperapp do well to "animate" a small part of a webpage. Thanks to the root param.

So, it could be great to have an interactive documentation.

[2017-06-27 12:46] Swizz commented on #146
Hyperapp do well to "animate" a small part of a webpage. Thanks to the root param.

So, it could be great to have an interactive documentation.

[2017-06-27 13:20] nitin42 commented on #244
Ok so I will be rendering the docs on web. Meanwhile I will go through the link you provided and will start contributin !

[2017-06-27 14:52] Swizz opened #251 "How to test an hyperapp ?"
This is more a talk than an issue, but :
As [it could be "easy" to test functional and API endpoint](https://github.com/hyperapp/hyperapp/tree/master/test), this is not easy to really test a SPA app.

So, this is an easy question to ask, but not easy to answer : How would you (unit) test an hyper'app ?

The app function do not return anything to test, here is not API to call action, to get the vie

[2017-06-27 16:38] SkaterDad commented on #251
I think you could write a mixin that exposes those things to the outside world.

The `action` and `render` events give the state before & after an action is fired.

Instead of console logging, you could copy the values to a global variable, or however you see fit.

Similarly, you could copy a reference to the app's actions to an outside variable and call them at will.

Here's a quick example on We

[2017-06-27 16:52] lukejacksonn commented on #250
It would be great to have an established pattern or implementation for async routes. There are a few other little bits we could add to the router but I'm not sure what @jbucaran thinks to adding more code. Abstracting the router to hyperapp/router would give us more freedom.

The more I think about routing in general the more I start to think a lot of this could be done with custom elements (_view

[2017-06-27 17:18] andyrj commented on #250
I was thinking some more about this and I don't know that I actually need to change anything on the Router mixin actually.  Obviously not 100% on this but generally I am thinking along these lines...

[code]

[2017-06-27 19:48] joshuahiggins opened #252 "Reduce file size by 666 bytes"
The final gzipped size of this library is 1666 bytes, or **166% of the advertised size!**

It is rather suspicious that the true size of the plugin is exactly 666 bytes larger than the advertised size. Clearly there is something sinister happening here and it threatens the very fabric of the JavaScript community.

This must be resolved immediately to ensure the safety of developers worldwide.

[2017-06-27 19:51] Sntax commented on #252
This guy fucks.

[2017-06-27 19:51] SomethingNew71 commented on #252
https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjgl5qc5t7UAhUCzGMKHaArDSoQjRwIBw&url=http%3A%2F%2Fwww.reactiongifs.us%2Ftag%2Ftin-foil-hat%2F&psig=AFQjCNGDhDsVVk2ZrP3Gu_cwNQNqwJSglQ&ust=1498679468029953

[2017-06-27 19:51] jbucaran commented on #252
![](https://user-images.githubusercontent.com/56996/27607011-71ef3a6c-5bbd-11e7-8331-aa4d8cef97b4.png)

I suspect it's the built-in Router :)

- #79
- #176

[2017-06-27 20:05] PaulBGD commented on #240
I'm a contributor to Svelte and for it I wrote a very basic system to use selenium to run the tests on a PR + previous versions. Feel free to adapt it: https://github.com/PaulBGD/svelte-bench/tree/selenium

[2017-06-27 20:45] Dohxis commented on #238
I would like to jump into this conversation by saying that I really like where this little framework is going. I have been using Elm for some time now and the best thing for me is that Elm is elegant and simple to use. Its syntactically beautiful. As Hyperapp is trying to be Elm-like I guess seeing those objects nesting one into another just tooks all the beauty. Why we cannot use new Javascript f

[2017-06-27 21:08] naugtur commented on #238
Classes bring side effects and all the mess were avoiding with functional programming. It's all about references to functions and the main structure of the app could be declared once while each component is a pure function. That's what came with elm, classes would hurt that.

[2017-06-27 21:56] nitely commented on #14
Will `render` work for non-js servers? i.e: [php-v8js](https://github.com/phpv8/v8js), [python-v8](https://github.com/nitely/v8-cffi), [therubyracer](https://github.com/cowboyd/therubyracer), etc. The only requirement would be that the `render` function runs synchronous code only (no async/callbacks). React does support this.

[2017-06-27 22:27] lukejacksonn commented on #252
This https://www.npmjs.com/package/hyperapp-router still exists 😉  removing it from core would shave a good 333KB off perhaps, half of the evil. I just updated the code, tests and README of that repo, and republished. It is now compatible with `hyperapp: ^0.9.3` and promotes the new syntax.

So whenever the time feels right ⛳️ 🏌🏼

[2017-06-27 22:29] lukejacksonn commented on #176
Updated https://www.npmjs.com/package/hyperapp-router to support `0.9.3`

[2017-06-28 01:08] jbucaran commented on #252
Thanks @lukejacksonn!

Alright, sorry to end the fun, but closing! 👋

[2017-06-28 01:08] #252 closed

[2017-06-28 02:32] jbucaran commented on #238
@Dohxis We want single app state architecture. So, using `this` goes against this very principle. :)

[2017-06-28 06:17] Dohxis commented on #238
I can understand that classes would bring unwanted things, did not experienced on my small app though. But I am keeping single state and single actions. They are passed as props.

[2017-06-28 09:16] Swizz commented on #251
Sound interesting, but if the app already have events registered, the mixin ones will be overridden, right ?

[2017-06-28 09:50] Swizz commented on #238
I was thinking about how to implement interactive doc, when I was punch by an awesome thing :
**Hyperapp is already ready for HTML component by design**

[code]
[code]

This is not really great to see ; but it works well :
[code]

[2017-06-28 10:28] jbucaran commented on #238
@Swizz Please keep them coming! It adds a lot to the discussion. 🙏

[2017-06-28 11:34] nitin42 commented on #251
No. Methods in mixin won't be overridden until you use some kind of external api like jQuery's `.extend()`. I've seen this behaviour in React earlier!

[2017-06-28 11:36] nitin42 commented on #251
or you could use a mocker to test specific use cases!

[2017-06-28 13:53] nitin42 commented on #238
We could also think about adding `Dynamic Components` using the same mount point and switching between different components by binding them to an attribute like `Vue.js` does.

Example

[code]

So depending upon the UI logic we could switch between different component using a wrapper or a method.

This would be useful in doing transitions (transitioning between the components or elements) and othe

[2017-06-28 14:33] Swizz commented on #238
@nitin42 Im definitely going to work on this one : https://github.com/hyperapp/hyperapp/issues/238#issuecomment-310999839

This is best one : Single state and actions tree "object" merged with the superpower of mixins. So, all the code base is already here.

[2017-06-28 15:00] nitin42 commented on #238
Great!

[2017-06-28 15:28] jbucaran commented on #238
Very interesting idea @Swizz. Can you give it another shot at explaining the implementation part?

What is `depends`? And how to avoid repetition?

[2017-06-28 16:09] Swizz commented on #238
My english is not really good yet, but I will try to be as clear as possible.

`depends` is just another word for `components` but as you seen, if you want two instances of a counter your main app need to depends on two instances of a counter.

I dont know really why, but I am against the fact to declare component into the view.
Components need to be instanciated at high level, view() job is only

[2017-06-28 16:10] MatejMazur commented on #238
@Swizz basically came up with the same approach as I did in Slack channel. But he knows how to achieve that with less intervention to core (congratulation!).
It's not bad, but we want to avoid another boilerplate so we can use the components with the same simplicity as the application itself.

[2017-06-28 16:18] jbucaran commented on #238
@MatejMazur @Swizz @jamen @everyone

How does everyone feel about this approach?

## `app.js`
[code]

## `counter.js`

[code]

[2017-06-28 16:25] Swizz commented on #238
I am still against the fact to instantiate components from view function. (but you are the director)

There will be a single state/actions object with subtree/namespace common to the whole app or a component will be a subset of an app capable to live into a main app view ?

How about parent to child communication ? And brother to brother ? Keeping a single state not one by component could facilita

[2017-06-28 16:27] jbucaran commented on #238
What do you mean by "instantiate components from view function"?

Sub-tree, single state tree.

[2017-06-28 16:39] Swizz commented on #238
[code]

Adding a `components` props to the `app()` is IMHO a better pattern.
The `view()` is only to deal with vnode. I think giving it the role to ensure components usage is more than excepted.

A `components` props, could tell clearly "I want to use this component, so add a dynamic segment into the state tree and give me access to its mutators" and component side being an app or a component will

[2017-06-28 16:46] Swizz commented on #238
OR.. We can discourage the use of stateful components. To maintain only a single state as source of truth.

[2017-06-28 16:47] jbucaran commented on #238
@Swizz There are no stateful components anywhere.

[2017-06-28 16:47] jbucaran commented on #238
Don't like it so much, but I have to agree with you here. 👍

[2017-06-28 16:50] MatejMazur commented on #238
So back to this?
[code]

[2017-06-28 16:59] Swizz commented on #238
Not yet. In my implementation, if you want multiple counters, you will need to use the following :
[code]

But how to add another counter from actions ?

Component is just a way to add a subset to an app but actually we need to think about how to interact with a fractal of the state if multiple "instances" of a component exist..

[2017-06-28 17:02] MatejMazur commented on #238
@Swizz I solved this before in Slack channel. You don't need init instances in `components`. You need only component and then you use id from array of counters. That will create state under specific id.

[2017-06-28 17:07] jbucaran commented on #238
@MatejMazur @Swizz So, I'm thinking like this. 🤔

### `app.js`

[code]

### `counter.js`

[code]

[2017-06-28 17:10] naugtur commented on #238
@jbucaran re: your proposal - I don't like the fact that the component has state that's separate.

That's why in my fork I proposed a version that kept state in the main app and passed down the actions which are bound to the main state anyway.

[2017-06-28 17:12] MatejMazur commented on #238
@jbucaran But how do you connect to instance part in global state? You need some kind of id. Because if you don't have id, you can't update state of instance.

[2017-06-28 17:13] jbucaran commented on #238
@naugtur The component's state is not separate. It looks _as if_ it was separate, but it is not.

Neither was that case in my first approach. But it was magical, as it wasn't obvious that Counter's state and actions should be merged with the app's intance internal state, actions.

Does that make sense? :)

[2017-06-28 17:16] MatejMazur commented on #238
@jbucaran And when you drop the third argument from the view, you actually call the Counter function again without any dependency to Counter in `components` prop. That's weird.

[2017-06-28 17:18] jbucaran commented on #238
@MatejMazur Whoops, you are right. We'll need the `component` function after all to wrap Counter.

[2017-06-28 17:19] Swizz commented on #238
Component seem to have its own state, but component "state" will be merge to the app state. Like it does for mixins.
In my mind, component is just a superpowered mixin that just add things into a namespace.

@MatejMazur @jbucaran ?

[code]

[code]

[2017-06-28 17:19] MatejMazur commented on #238
@jbucaran And we're back again. 😄

[2017-06-28 17:20] jbucaran commented on #238
@MatejMazur 🤣

[2017-06-28 17:20] naugtur commented on #238
How about this:
(should be doable based on my experience to date)

**app.js**

import { h, app } from "hyperapp"
import Counter from "./counter"

app({
  state: {
    title: "Hello.",
    counterItem: 5
  },
  view: ({ title }, actions) =>
    <main>
      <h1>{state.title}</h1>
      <Counter />
    </main>,
  components: [Counter]
})

**counter.js**

[code]

Names of things are not part of the s

[2017-06-28 17:22] MatejMazur commented on #238
@naugtur could you please correct format of code?

[2017-06-28 17:23] mrozbarry opened #254 "Using hyperapp without JSX?"
So far, I've only taken a cursory glance at hyperapp, so I don't know if this is already possible, has been road-mapped somewhere I haven't seen yet, or just isn't a good idea.

I'm not strictly against JSX, but I do occasionally use js-relatives like coffeescript where using functions can read significantly better.

I suspect this ends up being a larger question to the community, since I'm sure 9

[2017-06-28 17:23] naugtur commented on #238
I did right away, but github doesn't refresh automatically if it's not a new post

[2017-06-28 17:27] Swizz commented on #254
Take a look at the [Getting Started Guide](https://github.com/hyperapp/hyperapp/blob/master/docs/getting-started.md), Hyperx or JSX are introduced a far later.

Hyperapp use vdom for view construction. JSX is only a syntactic sugar.

[2017-06-28 17:30] jbucaran commented on #254
@mrozbarry Sure thing!

The examples in the docs use JSX for familiarity, but you are not required to use JSX with HyperApp :)

Here is one using [hyperx](https://github.com/substack/hyperx) and ES6 [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged-template-literals).

[Try it online](https://codepen.io/hyperapp/pen/XgJpgm?editors=0010)

[2017-06-28 18:12] mrozbarry commented on #254
I guess one comment on this, which I'm not sure if it's an issue for hyperapp vs hyperx, is it would be nice to use dom elements as functions.

For instance, in react, I can do:

[code]

I guess there's nothing stopping me from writing a script that does something like:

[code]

[2017-06-28 18:15] jbucaran commented on #238
This one is tough, but we'll make it through. I am sure. I've noticed a few more mistakes above, so I'll take another approach to brainstorming this by creating a list of facts.

- Components could be either a function or an object, but its definition must be wrapped in a helper function like `component(...)` or the component **must** be passed into the view. This is necessary because `<Counter in

[2017-06-28 18:17] jbucaran commented on #254
@mrozbarry That's pretty cool, but out of the scope of hyperapp's core library.

Now, I'd be happy to allocate an official slot in the organization for third party utility package like this if someone wants to take upon the challenge.

[2017-06-28 18:25] Swizz commented on #254
Here is [hyperscript-helpers](https://github.com/ohanhi/hyperscript-helpers)

[code]

You are right, this is more Elm 😄

[2017-06-28 18:26] mrozbarry commented on #254
ohanhi shows up in all the places I check out. It's like I'm stalking him and I didn't even know it!

[2017-06-28 18:33] jbucaran commented on #254
@Swizz This is pretty cool. Maybe I should reconsider the scope comment I made.

Imagine:

[code]

[2017-06-28 18:39] naugtur commented on #238
I'd add to this a suggestion to define state in one place, outside components. That's what redux got its adoption from and imho it makes it easier to explain or understand the app.

If I can push it even further, I'd suggest to only have components as pure functions that get a reference to a part of state and some actions. That'd eliminate the need to merge anything on app start and would make com

[2017-06-28 18:41] jbucaran commented on #238
@naugtur Can you post an example with fake code? 🤔

[2017-06-28 18:43] naugtur commented on #238
You mean for the first paragraph or second?

[2017-06-28 18:44] Swizz commented on #254
hyperscript-helpers is arround 945 bytes gziped 😕

[2017-06-28 19:08] nitin42 commented on #238
@Swizz One thing !

Let's say we are switching-out the components but what about their state when they are switched ?
We should preserve their state in memory so as to avoid re-rendering (performance issue). Right ?
This way we could cache or store the components which are not active.

[2017-06-28 19:16] SkaterDad commented on #254
I just write my view code with `h()` calls most of the time.  Same with the code I write in `cycle.js`.

`hyperscript-helpers` is a really cool library.  I bet if you ran your code through something like `prepack`, the extra weight of it would get stripped out at compile time.

Certainly seems out of scope for `hyperapp`, though.  Best served by a user-land library, IMO, which basically already ex

[2017-06-28 19:19] naugtur commented on #238
Passing a reference to app to components is still an unknown to me, but merging states and actions seems even harder. Anyway,

counter/Counter.js
[code]

counter/actions.js
[code]

[code]

That scopedActions part I'm not proud of, but the goal is to let more than one component share an action through an obvious reference.

If we put actions in components, how do you prevent them from name collisio

[2017-06-28 19:21] andyrj commented on #14
so I was messing around on my own fork to test hyperapp SSR with rehydration on first client render just to see what I could get going and I think I have something that mostly works and won't effect pure client side rendered apps...

https://github.com/andyrj/hyperapp/blob/rehydrate/src/app.js

thoughts?

I wrote it with es6 just to test the idea since I had to link it up to my other build process

[2017-06-28 20:32] Dohxis commented on #238
As my first suggestion was bad (I realized why), I was experimenting more and wrote everything as an objects
[code]
I really like how simple it looks and how easy it would be to add features to it. What do others think?
My suggestions are:
* Let define component's own actions, its easier to think about a component if it comes with its own actions.
* Pass a state for all components so we would have

[2017-06-28 21:53] Swizz commented on #87
Naive declaration file based on the API doc. On a gist to facilitate discussion about it

https://gist.github.com/Swizz/964c027075168b1ad8a66fd4fee6a0cc

[2017-06-29 02:52] jbucaran commented on #87
@Swizz Can you open a PR with this?

[2017-06-29 03:30] jbucaran opened #257 "SSR"
Similar to what we are doing in #238, I'd like to start a new issue to discuss SSR with HyperApp.

The purpose of this issue is to decide what a SSR app in HyperApp would look like, so let's not get bog down in implementation details. We also need a minimal code example to share ideas. @benjaminj6's example [here](https://github.com/hyperapp/hyperapp/issues/14#issuecomment-308940605) is a good sta

[2017-06-29 03:30] jbucaran commented on #14
Closing in favor of #257.

[2017-06-29 03:30] #14 closed

[2017-06-29 03:58] jbucaran commented on #14
@benjaminj6 In your example you are passing the actions to the view yourself `view(state, actions)`. This doesn't work because HyperApp needs to wrap those first into the actual functions that know how to update the state and render the application.

[2017-06-29 03:58] jbucaran commented on #254
Okay, it seems this issue has been resolved.

[2017-06-29 03:58] #254 closed

[2017-06-29 04:10] andyrj commented on #257
[simple koa ssr example](https://github.com/andyrj/hyperapp-starter/tree/ssr)

I will make branches that show simple-dom and undom as well...  just slapped this together real fast by extracting it out of my full starter with hmr and what not...

[2017-06-29 04:10] andyrj commented on #257
I am not endorsing any specific render method, I think writing our own is best, but for the mean time we can use one of the dom libs...

[2017-06-29 04:16] benjaminj6 commented on #14
Ahhh that does make sense.

[2017-06-29 06:02] brentburg commented on #251
With hyperapp you are just writing pure functions. They are really easy to test. I don't think it makes sense to do anything with hyperapp to *unit* test you app. Most of the examples show putting view, actions, etc in an anonymous object in the call `app()`. In a real app you wouldn't really want to do this. I would do something like this (keep in mind I don't have any experience with hyperapp)

[2017-06-29 06:10] Swizz commented on #87
This is written without any test yet. I want to test it. Add some comments like the Mitt one.

I wanted a simpliest declaration but there is a lot of "cyclic" dependencies in hyperapp.
Ex : Actions is part of the Application interface but also a parameters of some functions.

[2017-06-29 07:19] Swizz commented on #251
@brentburg You are the one :+1:

[2017-06-29 07:21] DanielRosenwasser commented on #87
@Swizz, I just tried the following and it seems to have good results:

[code]

However, there seems to be a problem with this when both `noImplicitAny` and `strictNullChecks` are used together, so [I filed this issue](https://github.com/Microsoft/TypeScript/issues/16817). A workaround is just to tell users to turn off one, or make `actions` non-optional.

[2017-06-29 07:22] DanielRosenwasser commented on #87
I want to advise on this matter. If you're willing to put `.d.ts` files into your repo, you should feel confident that you know how to work with and support these files, and that you're willing to roll out a patch release if something is incorrect with them. The same goes with something like `.js.flow` files as well, or anything similar.

If you're not comfortable with that, the best course of act

[2017-06-29 07:22] jbucaran commented on #251
Thanks @brentburg, that sounds about right.

@Swizz Is it okay to close here?

[2017-06-29 07:30] Swizz commented on #251
Yes. Thank you, everybody.

[2017-06-29 07:30] #251 closed

[2017-06-29 07:39] Swizz commented on #87
I aimed to be as close as possible to the [API documentation](https://github.com/hyperapp/hyperapp/blob/master/docs/api.md), because guys make all the job here.

I know I am against the TS styleguide with lowercase type/interface but first I wanted to translate the API documentation.
But your one inspire me a lot of things to make the declaration even simplier.

The major issue is Hyperapp is stil

[2017-06-29 07:57] lazarljubenovic commented on #87
I'm against writing code in TypeScript. It would force certain checks which would increase bundle size (or a bunch of casting which will just make the code ugly and lose the purpose of TypeScript).

The library is super-small and with proper documentation (which we have), I don't think we need a transpiler step. A lot of code is already optimized by hand.

I guess `.d.ts` files could be tested by

[2017-06-29 07:58] jbucaran commented on #87
@Swizz The existing APIs will definitely not change  at this point. Some stuff may get stuff deleted or added, but things like the function signature `(state, actions, data, emit)` is certain not to change.

[2017-06-29 08:03] mauron85 opened #258 "Suggestion add default units for style props"
I'm using more and more hyperapp and must admit I like it. Good job.

What I'm describing here is not bug or direct issue with hyperapp. Just want to raise attention for others who might have similar problem.

The problem is that by default hyperapp doesn't assign any units to style props: `width`, `height`, `left` ...
As result these styles props are silently ignored by the browser. This is nothi

[2017-06-29 08:05] jbucaran commented on #258
Here's the implementation in Preact.

-
 https://github.com/developit/preact/blob/52bb91e17a56e6f3dba050c3ae001292b6ff2285/src/constants.js#L12
- https://github.com/developit/preact/blob/33fc697ac11762a1cb6e71e9847670d047af7ce5/src/dom/index.js#L58

[2017-06-29 08:08] leeoniya commented on #258
that regex may be somewhat fragile for future, but hyperapp is too size-focused to absorb the actual whitelist [1] :/

[1] https://github.com/leeoniya/domvm/blob/3.x-dev/src/view/addons/autoPx.js

[2017-06-29 08:11] jbucaran commented on #258
@leeoniya Ouch.

[2017-06-29 08:12] leeoniya commented on #258
yeah, i only have it in my "larger" builds 😆

[2017-06-29 08:28] lazarljubenovic commented on #258
I'm can't help but wonder if something can be hacked together by changing `valueOf` on the Number prototype to

[code]

Or creating a new prototype, say Pixel:

[code]

And now

[code]

Or maybe somehow recognize attributes with suffix `px`? Like, if you have an object `{topPx: 2}`, that would be treated as `{top: '2px'}`? Or `{px: {top: 2, left: 3}}` would be expanded to `{top: '2px', left: '3px'

[2017-06-29 09:10] Swizz commented on #87
Just updated the gist with more Generics :tada:
https://gist.github.com/Swizz/964c027075168b1ad8a66fd4fee6a0cc

[code]

[2017-06-29 09:55] zaceno commented on #258
@lazarljubenovic You can use the lifecycle methods (oncreate, onupdate) to mess around to add properties dynamically to dom elements.

[2017-06-29 10:12] Swizz commented on #87
If there is no objections, I will start to work on a PR :+1:

[2017-06-29 13:43] lukejacksonn commented on #258
I have noticed this with other properties too (such as `opacity`) and did wonder if there is anything that can be done about it.. The way preact does it looks pretty legit? Not too large either.

[2017-06-29 13:54] lukejacksonn commented on #254
This is why I created the (experimental) [huy](https://github.com/lukejacksonn/huy) library.. primarily it was to cover the tags/functionality hyperapp doesn't support but that there are standard solutions for.. `use` and internal routing with `a[href='/']`.

Then I thought like you.. why not cover _all_ the standard elements! `hyperscript-helpers` looks to have done just that! I'm going to try it

[2017-06-29 13:58] jbucaran commented on #254
@lukejacksonn Don't know why, but I just has this thought that, for official packages, we could use scoped packages.

```npm i @hyperapp/dom @hyperapp/hmr```

etc.

[2017-06-29 14:01] lukejacksonn commented on #254
sounds good to me!

[2017-06-29 15:31] SkaterDad commented on #258
I agree with @lazarljubenovic that this seems unecessary to be in the core of `hyperapp`, since it will just add weight and isn't necessary for all users.

Baking stuff like this into the framework would help some users, but hinder others and potentially make it harder to debug if you aren't aware of the magical unit conversions behind the scenes.  `hyperapp`'s core appeal to me is how simple and

[2017-06-29 16:04] jcpst commented on #176
Perhaps there could be a 'minimal core' without the router, and still distribute the main hyperapp package with the router. Similar to how vuejs ships a version with the runtime, and another without the runtime.

[2017-06-29 16:06] nitin42 commented on #244
Is there something on (HyperApp core) which I can hack?

[2017-06-29 16:20] lukejacksonn commented on #244
@nitin42 you could try build an app with HyperApp; find a limitation and try improve it or find something that you find writing over and over again and try abstract that process out to a custom element or mixin?

Or help build out functionality of example applications such as the [Hacker News PWA](https://github.com/lukejacksonn/hyperapp-hn). So we can get it up on https://hnpwa.com/

[2017-06-29 16:23] nitin42 commented on #244
HNPWA seems a good idea!!

[2017-06-29 16:23] mauron85 commented on #258
@SkaterDad as much I agree with you about keeping core simple. Your reasoning is not strong

People with React, Preact, (you name it) background will quite surprised that why it's not working when it's working in xyz.

There are IMGO already incompatible decisions made. Like lowercase names of event handlers, which doesn't fit well with typescript (until somebody writes types defs).

![image](http

[2017-06-29 16:26] nitin42 commented on #244
I could implement :

* PWA
* Comparing lighthouse scores
* Offline caching
* Cross browser
* Web page test
* App shell architecture

[2017-06-29 16:37] jbucaran commented on #176
@jcpst Something like this?

For people using npm:

[code]

For those grabbing via the CDN:

[code]
or

[code]

[2017-06-29 16:45] jbucaran commented on #176
Or we could just wait until 1.0 and then just remove the router and be done with it.

We'll take a bit of damage, it's always cool to say hyperapp is 1 KB and that includes the router, but we had it coming.

[2017-06-29 17:05] lukejacksonn commented on #176
You mean it would be removed in 1.0.0 or removed after 1.0.0 has landed? The latter makes not much sense.

Less cool when that statement is quite far from true.. like you say, that was coming

[2017-06-29 17:12] SkaterDad commented on #258
Definitely agree with this.  Maintaining a FAQ or something of potentially surprising differences to popular libraries would help on-boarding new users.

It seems to be trendy among React-likes to mimic the React API and behavior, but I think it's great to have some differences since it encourages innovation.  We all have different backgrounds, but are interested in `hyperapp` for what it is, a cl

[2017-06-29 17:51] naugtur commented on #238
@Dohxis your current suggestion repeats a lot of bits already printed above, but it doesn't explain how state would be scoped or actions merged. If you ignore these two aspects, your suggestion is practically the same as my previous one.

[2017-06-29 18:07] zaceno commented on #244
Should we use Github's "milestone" feature for 1.0? Not sure how it works, but this seems like the sort of use case they made that feature for.

[2017-06-29 18:13] naugtur commented on #257
I guess the key part will be to get it to rehydrate without adding much to the 1KB :) or do you expect dom diffing would just do it (tm)

Correct me if I'm wrong, but if we don't do something really weird with Components, rehydration should be independent of them.

[2017-06-29 18:20] jbucaran commented on #176
I mean that when we release 1.0 the router won't be in the bundle. I am just speculating btw.

[2017-06-29 18:26] jcpst commented on #176
@jbucaran yep, something like that.

[2017-06-29 18:38] andyrj commented on #257
I tried slapping undom and simple-dom in that repo on branches but neither of those libraries have document.readyState[0], so when hyperapp runs it dies on 'cannot read propery [0] of undefined', jsdom has readyState so it still works though for now.

@naugtur I agree that rehydration and components should be unaffected by one another

Realistically the code I slapped in https://github.com/hyperap

[2017-06-29 18:54] naugtur commented on #257
Where do I look to see how rehydrating a click handler works?

[2017-06-29 19:12] Dohxis commented on #238
@naugtur Yes, I just want to support the suggested component design. No wrappers like `component()` simple plain objects. Talking about actions I guess it would be nice if all actions from all components would be merged into one under its own namespace. I am sure there is a better way to do this but having functionality like this would help I think.
[code]

[2017-06-29 19:21] andyrj commented on #238
@naugtur I'm a little worried there still needs to be some key/id for the components even if we have scopedActions(), or people are going to be mucking up the state thinking that it's only in the component or did I miss a part there?

What if you made the Component() a part of the hyperapp api and had it extend the state and generate id's for each component?

NOTE: very rough not working code just

[2017-06-29 19:28] MatejMazur commented on #238
You just rewrited my first idea. 😄 It begins look messy here..there are a lot of similar ideas. Problem with my approach is in third point of @jbucaran [comment](https://github.com/hyperapp/hyperapp/issues/238#issuecomment-311743386).

[2017-06-29 19:30] zaceno commented on #238
I'm trying to jump into this topic, trying to follow along on the progress so far. Quite bewildering but fun :) Anyhow, one question stands out for me:

(please excuse me if this has already been talked about, and please nobody take this as any kind of criticism -- it's a well-meaning and honest question)

It is very clear we are aiming to keep all the state in a single state-tree. I'm all for tha

[2017-06-29 19:35] andyrj commented on #238
@zaceno I agree that it will be emulating stateful components but there could be some way of escaping the scoping, maybe extend actions to have global and local.  I understand the concern, but also see where it could be implemented in a way that makes some applications easier to express.

[2017-06-29 19:40] andyrj commented on #257
Well it is basically taking advantage of the standard patch process, since I don't define attributes/event handlers in my, data: {}, of my little hydration, the first render process sees my hydrated nodes a gets upgraded to a patch and the standard patch process will take care of the event handler and all other attributes/properties in your view.

[2017-06-29 19:45] zaceno commented on #238
@andyrj I agree that locally-stateful components, judiciously used (wether emulated or not) can make an application easier to express. I just feel like if (mostly) locally scoped components are what you want then just let the scope be local, don't bother with merging it to the main state tree. Do what Vue, React, et al do and let the components communicate via props and/or event bus.

So I'm not o

[2017-06-29 19:50] andyrj commented on #238
ya I looked at your example and was impressed by the dark arts ;) (referring to @jbucaran's comment on it)  I didn't fully grasp how it worked though I am gonna have to look over it again.

[2017-06-29 19:54] zaceno commented on #238
@andyrj: Lol, yes I'm known to break a taboo or two :) Actually don't look too closely at that example, because I realized it doesn't update when you pass new props to it. So there's a little more work to do with it, but I'm certain it can be made to work. The basic notion is that a locally scoped component is just it's own `app(...)` -- you just need to solve how and where to mount it.

[2017-06-29 19:58] zaceno commented on #238
Not to be too "down" on this thread, I must say: I see that there are a few real and important problems we're trying to solve here (just not sure if components are the answer). And those are

- How we can scope / fragment state. So actions & views can be reused for different parts of the state tree without being dependent on the structure of it.

- How we can work with a dynamic state tree. Instan

[2017-06-29 19:59] naugtur commented on #238
@zaceno In my examples (including the first one in repo that actually works) I focus on having one state that's bound to all actions no matter where they are. Latest example is also scoping the state so that each action is not forced to be able to handle the whole state object (like combining reducers in redux).
Components can only interact by:
- passing properties down
- calling actions from othe

[2017-06-29 20:03] naugtur commented on #257
ok, so the items that have event handlers get rerendered. React probably does the same. I wonder if it'd be possible to delegate all events and only have one listener to clicks on app root. That's probably too much for a microframework

[2017-06-29 20:07] andyrj commented on #257
@naugtur it shouldn't re-render but it will behave as if the last render didn't have attributes/events and for some reason this current render does so it will go through the steps to add those attributes/handlers like it normally does.  I could have written more code to completely make a vdom from the dom that was SSR'd but that seemed like it would be a lot more code with little benefit when I co

[2017-06-29 20:12] naugtur commented on #257
sure. makes sense

[2017-06-29 20:23] zaceno commented on #238
@naugtur Your opinion is every bit as valid as mine! :) Anyway I'm not trying to present an opinion so much as understand. Clearly you guys in here have thought a lot about this.

So if the type of components you're describing have access to the entire state and set of actions (or all the actions at least) -- that certainly is something different from what I was percieving. Definitely not "emulate

[2017-06-29 21:30] rileytg commented on #41
^ yes those are very easy!

reminds me of kubernetes helm charts

[2017-06-29 21:58] zaceno commented on #238
So with the risk of causing even more confusion (and possibly repeating what someone in here has already proposed), here's my thing to add to the mix:

https://codepen.io/zaceno/pen/gRvWPx?editors=0010

No magic whatsoever with the state & actions (I'd prefer to leave that to some other tool, like lenses which @lukejacksonn has suggested). In this concept, components are nothing more than view fun

[2017-06-29 22:15] andyrj commented on #238
@zaceno the only thing I don't like about that example is how the main app has to know all the state needed for the components.

I kind of feel like the benefit of components would be allowing that to be delegated while still storing it in the single state atom.

I also think what you mentioned in the other issue about returning emit from app() could be a really good place to look at making a comp

[2017-06-29 22:22] zaceno commented on #238
@andyrj : right, that's kind of the point I was making before. All of it except the part about still storing it in the single state atom. If you want your components state to be independent and unknown to the main state -- why even store it there? The way I see it, if that's what you want, then go for a external/locally stateful component.  (and you're right, the app-returns-emit PR could help wit

[2017-06-29 23:00] andyrj commented on #257
@jbucaran for reference on my choosing the term hydrate, the logic https://github.com/hyperapp/hyperapp/pull/255 is a very simple version of what at least starts here in the react fiber project...  https://github.com/facebook/react/blob/a37012a6b5fb5a1c0c19c962737189aeaebe3684/src/renderers/shared/fiber/ReactFiberBeginWork.js#L375

I know there was some discussion about that last night, didn't hav

[2017-06-30 01:34] andyrj commented on #257
I got undom to work as server side renderer instead of jsdom: https://github.com/andyrj/hyperapp-starter/tree/undom  , but it requires line https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L24 to change to:
[code]
mocking document.readyState didn't seem to work

[2017-06-30 02:09] andyrj commented on #257
ok, sorry for that last comment, now it works with undom: https://github.com/andyrj/hyperapp-starter/tree/undom was able to mock documentReadyState instead of changing anything in hyperapp

[2017-06-30 04:48] jbucaran commented on #257
This discussion is going to stagnate (I won't be able to _action_ anything) if we don't have a minimal code (it doesn't have to workm just ideal code) example to share and discuss ideas.

[2017-06-30 05:05] nitin42 commented on #257
I was exploring this stuff and have made an example (imaginary). Here it is -

[code]
Here we are rendering the static pages. We could use `renderToString` method to render an element to a readable stream on the server.  Or we could combine `renderToString` and `renderToStaticMarkup` to serve a page by generating the HTML markup using `renderToStaticMarkup` and then embedding the output of `App` u

[2017-06-30 06:57] andyrj commented on #257
Uh, the links to the repos above all have working examples as minimal as I am going to want to do.  I really think the best approach for basic non streaming ssr is to just adapt undom, we can fork and name it hyperapp-dom, or whatever you like.  Then normal calls to app should just work server side,  like the link at the top of my previous comment.

[2017-06-30 07:27] nitin42 commented on #257
How about this https://github.com/airbnb/hypernova ?

[2017-06-30 08:00] Swizz commented on #258
I think if router is officialy move into `hyperapp/router`, it will be possible to create somethings like `hyperapp/html` and `hyperapp/css`.

[code]

So, it could be possible to give users a lot of helpers without affecting the core size.
Guys what do you think ? (cc @jbucaran)

[2017-06-30 08:12] Swizz commented on #238
I didn't read all the comments since at least two days, but I think we are on the way to discuss the concept even if concept is clear in @jbucaran mind. https://github.com/hyperapp/hyperapp/issues/238#issuecomment-311743386

The most relevant purpose is to discuss how to achieve that, isnt it ?
Everybody seem to be sticking to his guns, so we need to reach a consensus.

[2017-06-30 08:23] Dohxis commented on #258
Just trying to jump into this conversation. If we are already have a goal to keep core as minimal as possible and include no magic than I think @Swizz idea looks really interesting. There are lots of things which helps while creating big apps, but can hurt those who doesn't need advanced stuff. We already saw some requests to add, but it was out of hyperapp's scope and things like that will come c

[2017-06-30 08:26] jbucaran commented on #258
@Swizz Yes, it will be possible.

Before creating an official `@hyperapp/package`, though, I'd like to make sure it's something common enough to be "official". In the meantime, `hyperapp-xxx` packages are up for grabs as you wish. :)

[2017-06-30 08:30] jbucaran commented on #257
@andyrj Can you summarize what examples you suggested (and links)? Also see [this comment](https://github.com/hyperapp/hyperapp/issues/257#issuecomment-312174072).

[2017-06-30 08:32] zaceno commented on #238
@Swizz You're right there seems to be little consensus on what components  should be and what they do. I think what we need is a good example app that could be rewritten with the various concepts to demonstrate their benefits. It's hard to reach consensus if everyone is thinking in the abstract, and has their own hypothetical use-cases in mind.

The question is, what would such an example app be?

[2017-06-30 08:34] jbucaran commented on #238
Can anyone help summarize the different proposals? I don't want to get bog down in implementation details, but just touch on the surface API (which is all I wanted to discuss in this issue).

What about a gist for each proposal and create a list of them here?

[2017-06-30 08:35] Swizz commented on #258
I contribute a lot, by comments, I will need to contribute by code right now.

@jbucaran About `@hyperapp/package` would you want a common repository structure like a starter repo ?
Could you create a `hyperapp/package` repository I can fork ?

We can create `hyperapp-xxxx` and if the community seen interest on it, move it into the Hyperapp org.

Do you want only dependencies free package ? Becaus

[2017-06-30 08:44] zaceno commented on #238
@jbucaran: good plan. Just documenting API's, right? -- no lengthy example apps?

[2017-06-30 09:09] jbucaran commented on #258
See for example: https://github.com/hyperapp/router

Yes, I think this is the best way to go.

Most likely, but I can compromise, of course.

[2017-06-30 09:45] lazarljubenovic commented on #258
The problem with separate packages is that I'm afraid we'll end up with 20 routers and 20 "helper" libs that solve the same problem, none of which work well together. I think we need a system to keep track of "official" packages which would have to pass a certain standard in terms of quality. Which is probably why having an organization `@hyperapp/package` is a good idea: as people build other thi

[2017-06-30 09:49] lazarljubenovic commented on #258
And about this suggestion.

This is nice and all, but do we really need a package that will append two characters to a number? It's not even hyperapp-relevant.

[2017-06-30 09:59] jbucaran commented on #258
@lazarljubenovic [Yes, that's the plan](https://www.npmjs.com/org/hyperapp).

[2017-06-30 09:59] zaceno commented on #238
Component API proposal: "Bound view functions"
https://gist.github.com/zaceno/83286dfd2a18ebbd3b4f1d7cb5810a0c

[2017-06-30 10:16] MatejMazur commented on #238
I must laugh when I see how everyone uses the word "magical", but it's only magical because of missing documentation.
However the goal of the components is not to complicate the code, but to facilitate work independent of the main structure. Zaceno's example is not easy readable. That doesn't solve the issue neither generally proposed `components` prop/arg in `app()` because imagine that you need

[2017-06-30 10:20] jbucaran commented on #238
@MatejMazur No need to waste energy discussing stateful components. We're not going to implement them. Ever.

@zaceno Thanks for your proposal. I've updated the top issue to add it. 🎉

[2017-06-30 10:30] MatejMazur commented on #238
Then this discuss is mainly about how to initiliaze components, how to create instance state and connect it to app state and how to keep simple writing of code without a lot of repetitions.
Example with counters is good enough because imagine how you must write example with multiple counters where you can add or remove one of them. Then you realize that this in Elm architecture needs to know even

[2017-06-30 10:33] Swizz commented on #238
@jbucaran Is there a due date ?

[2017-06-30 10:49] jbucaran commented on #238
@zaceno Wow.

[2017-06-30 10:50] jbucaran commented on #238
@zaceno Did you just basically single-handled figured it all out?

[2017-06-30 10:51] zaceno commented on #238
@MatejMazur

Yes that's already possible (or close enough anyway) with the current version of hyperapp. But *not* if you plan to merge the state back into the main state. You run into troubles of keeping track of multiple instances, just like you said.

Additionally I'm arguing that there's no clear value in trying to write your app that way AND ALSO keep all your state in the mothership *anyway*.

[2017-06-30 10:52] zaceno commented on #238
@jbucaran , ...um I not sure 😜 I'm hardly sure I know what we're trying to figure out

[2017-06-30 10:53] jbucaran commented on #238
@MatejMazur What's wrong with @zaceno's solution?

[2017-06-30 10:54] MatejMazur commented on #238
@jbucaran view: `components` arg and prop...you must insert mutliple times a component name...once in import, then in component and then in view args and then (finally) in view returned value.

[2017-06-30 10:55] jbucaran commented on #238
For example, `AddCounterButton` shows up three times:

[code]

[2017-06-30 10:57] zaceno commented on #238
the destructuring in the view is just so I can use it with jsx. could just do:
[code]

[2017-06-30 11:00] jbucaran commented on #238
@MatejMazur The following signature:

[code]

is the same one you originally proposed. I didn't like it then, because I thought this could be implemented in a different way, but just like mixins and actions, we need a way for `app()` to inject them with code.

[2017-06-30 11:01] MatejMazur commented on #238
@jbucaran Yes, I know but once you've told me that it will begin full of components then it doesn't make sense to achieve that.

[2017-06-30 11:03] zaceno commented on #238
... uh oh -- Did I just bust in here at the last minute and push everything back to square 1? Hope not!

[2017-06-30 11:03] jbucaran commented on #238
@MatejMazur Can you try rephrasing that sentence? I think I lost you.

@zaceno Veni, vidi, vici. 🎉

This looks pretty good, but I still have one issue with this in that, what if you are using 20 components?

[2017-06-30 11:04] MatejMazur commented on #238
@jbucaran Sry for my English. But you wrote it. Imagine 20 or more components.. that's undesirable.

[2017-06-30 11:06] jbucaran commented on #238
@MatejMazur Ah, is that what you meant? Okay, yeah, I agree on that. This would be fixed if components could have their own sub components. No?

[2017-06-30 11:07] zaceno commented on #238
@jbucaran @MatejMazur  I agree the destructuring of 20 components in the view function would not be pretty. But probably also not necessary. In my proposal, every component also gets access to the components-object. So you only need to destructure out the handful you need in each function

[2017-06-30 11:08] MatejMazur commented on #238
@jbucaran maybe...but it will increase boilerplate (multiple times component name).. I don't like it. Why did you change your mind on that? 😄 You didn't want that. 😄 Now we've switched opinions.

[2017-06-30 11:09] zaceno commented on #238
Still gotta say though -- I'm not that big a fan of my own proposal ;) Not that I see problems with it. Mostly that I don't see it adding a lot of value

[2017-06-30 11:09] MatejMazur commented on #238
@zaceno Now I don't either. 😄

[2017-06-30 11:10] zaceno commented on #238
@MatejMazur :)

But about the increased boilerplate: It's the exact same situation with actions. Right?

[2017-06-30 11:10] jbucaran commented on #238
It's not a matter of opinion, but I don't think we have other choices. @zaceno's proposal is at the surface level, pretty much what you had before, almost.

No, not at all. We're not back to square one. 😄

For starters, your API design is a bit different to what @MatejMazur originally had (not for a lot though, but your use of props instead of an array makes a huge difference).

We also have come

[2017-06-30 11:15] jbucaran commented on #238
@MatejMazur Remember that components are going to live in their own file.

[2017-06-30 11:16] jbucaran commented on #238
@zaceno We need components to be able to have their own components. Do you have any idea how we could achieve that with what you have?

Also, maybe you can open a PR? 🔥

[2017-06-30 11:20] MatejMazur commented on #238
@jbucaran Yeah, I know that but this is not problem. 😄 Problem was with `components` everywhere (as prop in app, as argument in view, without destructuring you need write longer version of arrow function with return statement (assigning components to variables) or you don't use JSX for components, and it's not usable for more than 5 or 10 components). And even if you nest components it still doesn

[2017-06-30 11:41] zaceno commented on #238
@jbucaran Sure I'll put a PR together. And perahaps a demo of components using other components. And mixins with components (a k a Widgets :) ) It's good to have concrete examples to discuss :)

[2017-06-30 12:20] Swizz commented on #238
Single state tree, single actions tree and single component tree.
With a system of namespaces, namespaces for component name and namespaces for isolation ID like it does in Cyclejs.

Everything live into the same objects at start, but is pretty isolated. When the view function of component is called, we give to it a substet of the tree according to its isolation.

Like a Fractal. Because my englis

[2017-06-30 12:26] MatejMazur commented on #238
@Swizz Yes! That's exactly what I want to achieve! That's how I did it but I don't know how to store and calls instances by id if it's allowed to have multiple apps.

[2017-06-30 12:31] Swizz commented on #238
I think this is not too dificult. When a component is registered, we can give it a random ID, if one is not given (like key for vnode).

I did something similar with mixins and ES6 features https://github.com/hyperapp/hyperapp/issues/238#issuecomment-310999839

[2017-06-30 12:36] MatejMazur commented on #238
@Swizz Yep, but again, you just need another prop in app. So we're back at the beginning. I achieved this without another prop and arg but I don't know how to keep communication between the right app and component - so you need id for app but then you need to tell to component which app calls it.

[2017-06-30 12:39] zaceno commented on #238
@Swizz @MatejMazur just don't forget about the need to access the rest of the state and actions. A counter is a very unusual example, in that it's own state/actions are enough for it.

I'd be (honestly!) interested in seeing an implementation of an example where the components as well as the main app need to access eachother's state and actions.

[2017-06-30 12:41] Swizz commented on #238
Component are stateless, so, we do not have component which are part of two apps. Here is the same "Model" but here is two different component.

As the Component and the App live with the same State and Actions tree, this is easy to handle parent->child comunication, the Parent could call every action of its childs.
And for child->parent, this is as easy as adding a `.parent` into the partial comp

[2017-06-30 12:42] MatejMazur commented on #238
@zaceno This isn't difficult because you can set which part of state would be accesible. So we can create for example something like:
[code]
You can just set state before calling component.

[2017-06-30 12:45] MatejMazur commented on #238
@Swizz But do you think that it's not possible without some dependency like you have in [comment](https://github.com/hyperapp/hyperapp/issues/238#issuecomment-310999839), don't you? Because it increases boilerplate..

[2017-06-30 12:48] zaceno commented on #238
@Swizz & @MatejMazur Yeh, it's possible sure. Still I feel like in a more typical example with lots of cross-component-state-sharing, it wont look as clean and nice as the counter examples. In fact I suspect that *not* using fragmented state will look *cleaner* in those more typical cases. But I'd love to be proven wrong!

[2017-06-30 12:54] MatejMazur commented on #238
@zaceno It it's possible than it will be much more cleaner because you don't need to know full path to instance's state, actions etc. You just simply build component like [this](https://gist.github.com/MatejMazur/440bdc8a3ca33604cb0cf1d5d866cdd8).

[2017-06-30 12:55] Swizz commented on #238
We can rearrange the API to be more user friendly. And in fact, accessing parent state/actions is a terrible pattern.
In most case, this is more comfortable to use properties for `parent->child` communication and events for `child->parent` comunication

[code]

[2017-06-30 12:58] zaceno commented on #238
@MatejMazur Yeah I know but:
a) Your example is still using counters, which do not demonstrate typical complexity.
b) You can use assocPath to  bind/scope actions & state to specific state-branches. Why bake it into a component solution and make it non-optional?

[2017-06-30 12:58] MatejMazur commented on #238
@Swizz Agree with parent state/actions. I just want to argue that it's possible. 😉

[2017-06-30 13:00] Swizz commented on #238
@MatejMazur We can add a parent propertie to each substract of state and actions tree for those who like to deal with terrible patterns.

@zaceno Do you have a more complex example in mind ?

[2017-06-30 13:01] MatejMazur commented on #238
@zaceno You can use assocPath and that's how I do but it can be done automatically. If you build app you don't want work with something what is not related to business logic. And there is still possibility to use assocPath but you still need to know so many things about parent and that's antipattern. Component based approach is about ignorance of parents. 😄

[2017-06-30 13:07] MatejMazur commented on #238
@Swizz My solution was based on outer event mediator which sends instance's state, actions to component there it connects these things together then it returns new instance's state to app for storing. But this mediator didn't know id of app so if you want multiple apps then I don't know how to achieve that.

[2017-06-30 13:10] MatejMazur commented on #238
@Swizz We can easily create example by using any existing project and our goal would be just insert this project as component to another project (e.g. insert tic tac toe to website built with HyperApp).

[2017-06-30 13:10] zaceno commented on #238
@MatejMazur It's no secret that *I like* the component based approach. I like not having to know about stuff 😜 ,

Still don't think hyperapp should to do anything special with states/actions. In my world-view, the counter-examples could be their own apps.

I like @Swizz idea of passing the emit function to views. @jbucaran suggested that too at some point, but can't remember the context.

[2017-06-30 13:12] zaceno commented on #238
@Swizz More typical example imo: Anything with forms and validation. There could be multiple types of inputs (sliders, calendar widgets, autocompleting text inputs) and they would each have validation rules based on what was in the other fields. (Like if you selected a weekend in the calendar app, you could only select a certain range on a time slider, stuff like that)

[2017-06-30 13:14] MatejMazur commented on #238
@zaceno everything related to communication between components is based on storing props in their parent so this is not purpose of component but rather philosophy behind one way data binding.

[2017-06-30 13:16] zaceno commented on #238
:) I think I should just shut up and let @MatejMazur @Swizz @naugtur and @andyrj settle this...

[2017-06-30 13:19] MatejMazur commented on #238
Imagine reverse React+Redux approach. Stateful components in React are large apps in HyperApp (multiple apps) and Redux/Elm approach is similar to behavior in these apps. App knows everything inside even local states of components (keep in mind that these states are stored in app.state). So you use mutiple apps only for really large and totally independent parts and components will be used for bui

[2017-06-30 13:46] Swizz commented on #238
@zaceno In your example, in my mind, Disabling an input is the job of the parent not the input itself.

I am comming from Vue an Cyclejs, and from both, Component isolation is a panacea.
Component is not allowed to think outer their own business.

You are attempting to give to more power to component. That why we are alot against Hyperapp capabilities. Because we are not aligned with Elm principle

[2017-06-30 13:56] Swizz commented on #238
That why, I am moving from the Hyperapp router to a global one to settle an Hyper'app per route.

[2017-06-30 13:56] zaceno commented on #238
@Swizz

All I'm saying is: if you want to structure apps that way with hyperapp, then an app is a tree of apps. If you also want a common state-store for all your components/apps, like Vuex, then that's another app (your store app).  That's fine with me.

Doesn't mean we need to change anything about how `app()` works (maybe there are some minor things, but not sure what yet)

[2017-06-30 13:59] MatejMazur commented on #238
@Swizz could you join to Slack channel? Maybe we can try to build something or maybe we don't solve anything. 😄

[2017-06-30 14:05] Swizz commented on #238
@zaceno

Here, we took the decision to maintain only one store (Vuex in your example) and give to each component a subset of this store according to its isolation. We have only one State and Mutators tree by app.

A component is just a way to add features to your app. But it is not either a completely independent feature. When we are talking about component, we are just talking about a Blueprint t

[2017-06-30 14:15] SkaterDad commented on #257
Going through the trouble of replicating the DOM in Node seems like it would cause a major perf hit.
 `hyperapp`'s node structure is simple enough that `toString()` functions are trivial.

@jbucaran You seem to just want pseudo-code to help with the API design?

[code]

[2017-06-30 15:04] jbucaran opened #264 "How to build an electron app using HyperApp?"
You can build Electron apps using React, Vue, etc.

It would be awesome if we could do the same using HyperApp.

HyperTron? 😏

[2017-06-30 15:17] Swizz commented on #264
You can build an Electron with litteraly everything is just a browser which capable to load only your content (JS, CSS, HTML).

I donc think, this need to be in the Hyperapp scope. Everyone who know well Electron, know it could be possible.
Samething with Cordova, Node-webkit, Crosswalk, etc..

*I am experimenting with Nativescript too.*

I love Hyperapp because its FIRST and KISS. I am running aw

[2017-06-30 15:24] jbucaran commented on #238
@Swizz Let's go back to [this](https://github.com/hyperapp/hyperapp/issues/238#issuecomment-311288539) comment for a second.

The problem I have with that is the Counter's actions:

[code]

[2017-06-30 15:24] andyrj commented on #257
[code]

if we fork undom and make it our own this will become as simple as.

[code]

@SkaterDad
I don't disagree that this will have lower performance (though I doubt by much) than the hyperapp-server/renderToString method.  However this approach supports mixins and any other functionality out of the box (and doesn't need to be in core), whereas with toString you will need to either integrate it t

[2017-06-30 15:39] jbucaran opened #265 "Add CONTRIBUTING"
I always have trouble thinking what belongs to CONTRIBUTING, so I rarely put them on my projects. If someone has more experience with this file can you please share your experience?

Some things I think would be useful to have in CONTRIBUTING are:

- @nitin42's implementation notes.
- How to lint/format and test the code.
  - How to add your own test cases and how some of our tests work.
    - [Tr

[2017-06-30 15:42] Swizz commented on #238
@jbucaran This is because, with this naive implementation, it is possible to give fractal state but not to work with. This need to be done by the core when merging partial state to the main state tree.

[2017-06-30 15:44] jbucaran commented on #238
@Swizz Can you write the example again using pseudo-code and call this your proposal? 🙏

[2017-06-30 16:13] Swizz commented on #238
Here we go : https://gist.github.com/Swizz/8437df6ac5ec4985e72e648d242f6a9f

This is a complexe but complete example. (no components list yet)

With component props initialisation, `parent->child` and `child->parent` communication, Fractal state, and namespacing.

[2017-06-30 16:20] nitin42 commented on #265
May be this !!?

### [](#before-you-get-started)Before you get started

*   Code of conduct.
*   How and why we built HyperApp.
*   Coding conventions

### [](#contributing)Contributing
*   Ways to help out
*   Creating a pull request
*   Testing

[2017-06-30 16:31] andyrj commented on #238
@zaceno  I definitely don't want to take over anything, I was only chiming in with my 2 cents, I think all the feedback in this thread is useful.

@Swizz I like that gist, but I still feel like we should have some kind of helper or pattern to handle the key/id and at least a pattern for how the state could be partitioned for components.  Maybe we even make the helper generic enough that it can all

[2017-06-30 16:48] jbucaran commented on #238
@Swizz Why are you using `emit`? 🤔 😕

[2017-06-30 17:06] Swizz commented on #238
@andyrj This will allow components to use the state out of their isolation. And I think this is not a good pattern.

@jbucaran `child->parent` comunication. The `change` event call the function on the `onchange` attribute.

We can also move into a `parent` property on `state` and `actions`, if you are more comfortable on this than props/events.

[2017-06-30 17:09] jbucaran commented on #238
@Swizz Using emit like is only optional right?

[2017-06-30 17:20] Swizz commented on #238
@jbucaran Only useful if you want to use the events system to interact with your parent

[2017-06-30 17:21] jbucaran commented on #238
@Swizz I personally find the way component is declared and then used is unintuitive. The declaration should be no different to how we declare actions or events.

[2017-06-30 17:27] Swizz commented on #238
I use JSX because the API allow it. But, you can simply use function :

[code]

or if you do not need anything from the state, actions, emit :
[code]

[2017-06-30 17:31] jbucaran commented on #238
@Swizz But why do you have to initialize the component when declaring it?

[2017-06-30 17:33] jbucaran commented on #238
@Swizz So, why not:

[code]

[2017-06-30 17:34] Swizz commented on #238
Because I dont want either to do it into view. Like I said before, Components are in my mind super-powered isolated replicable mixins. Some bluprint with add features to the main app.

So, this initialisation is more than what to add to the State to initialize it. And also a way to isolate Component and add the ability to deal with an array of same components.

[2017-06-30 17:36] jbucaran commented on #238
@Swizz So how do you pass props down to the component in the view?

[2017-06-30 17:40] Swizz commented on #238
Why do you want to pass props into the view ?

In this idea, the view role is only to receive the component view vnode result and add it into its children array.
The component hook is the only one responsible do deal with component logic.

View is to make a presentation of the state and add some hooks to deal with actions : no more.

[2017-06-30 17:42] jbucaran commented on #238
I think is is more intuitive to do it in the view. Let me see harder 🔎 🤓.

Sorry, what is the component hook?

[2017-06-30 17:45] Swizz commented on #238
I dont know how to call these things ^^
[code]

You, are the boss. But I am still against :boxing_glove: 😄

[2017-06-30 17:48] jbucaran commented on #238
They are called properties.

The following code looks like when you instantiate a component in React.

[code]

It's also not clear to me when is this function called and how many times is it called. I guess only once so it's intializing the view?

[2017-06-30 17:50] Swizz commented on #238
I am not clear about that, in fact. Initialisation maybe. But what about conditional component or rendering a list of components according to an HTTP request result ?

[2017-06-30 17:52] jbucaran commented on #238
@Swizz What about them? I don't see an issue with that because the wrapped component view is passed to the application view in the function like:

[code]

[2017-06-30 17:54] jbucaran commented on #238
@Swizz What about this?

[code]

[2017-06-30 18:07] Swizz commented on #238
How can I use 3 counters  ? An a unknown numerous of counter based on an initialValues array ?

[2017-06-30 18:09] jbucaran commented on #238
@Swizz Is that not a problem also in your example?

[2017-06-30 18:18] Swizz commented on #238
I am not highlighting problem, I am asking about your thought on it ^^

[code]

[code]

With your

[code]

[code]

Both works the same, the main purpose is all about, the power we want to give to the view propertie.

My mind in stucks about separation and isolation ; your is on simplicity and intutivity.
Choose one. I am not responsible of that 😛

[2017-06-30 18:27] jbucaran commented on #238
@Swizz What is unit by the way? And won't we have to provide an index to the component?

[2017-06-30 18:36] Swizz commented on #238
Unit is just another attribute to illustrate parent->child communication and the index is only for the events example.

The id key could be set randomly or by given a key to the component like it does for vnode.

[2017-06-30 18:38] jbucaran commented on #238
@Swizz What do you think of a random id?

[2017-06-30 18:39] Swizz commented on #238
Not pure but easy to use and to think about

[2017-06-30 18:40] jbucaran commented on #238
What would be a pure way to do it then?

[2017-06-30 18:45] jbucaran commented on #238
@Swizz Just to be clear, we're not talking about keys as in keyed-vdom keys.

[2017-06-30 18:49] Swizz commented on #238
The purpose could be the same "identify a thing". But the implementation is différente. The only purpose here is about isolation.

[2017-06-30 18:59] SkaterDad commented on #257
@andyrj You're probably right that `undom` wouldn't add _too_ much overhead, and would be a quick starting point if it allows `hyperapp` to run without mods.  Does `undom` handle populating the `window.location`?

Streaming support isn't simply for async actions, it's for breaking up the stringifying into smaller chunks that can streamed to the browser, similar to how a normal HTML file gets sent.

[2017-06-30 19:49] andyrj commented on #257
@SkaterDad Yes setting window.location is useful for the routing, we could provide a helper for that, or adjust how undom is initialized to provide it.

We use the dom event stuff provided by undom and then the serialize could be triggered when hyperapp signals the init is complete, for apps with async code inside init.  I don't know if that is already in app(), or if that's something new though.

[2017-06-30 19:51] andyrj commented on #257
Or as a mixin the render event is all that would have to be watched right?

[2017-06-30 20:01] naugtur commented on #238
God this is long. I'm in a different timezone apparently. I'm half way through and I need to comment on the image from @Swizz

I really don't think the state should be built based on the parent-child relationships of components.

State is the most important part of the architecture and I (as an app developer) will never give up my decisions on the data strucutres used in state.

State should be st

[2017-06-30 20:31] zaceno commented on #238
Good point about state structure being sacred to the developer, @naugtur

I'm not familiar with the connect-pattern from redux react, so let me check if I follow your poc correctly:

The "context" available to "connected" components, is defined in the `<Provider..` tag. And the provider doesn't output anything. It's just a function to define the context. And then any "connected" component will aut

[2017-06-30 20:53] jbucaran commented on #238
@naugtur In your example, the app has the actions that can up and down the counter. If that's going to be always the case, then what is the advantage of your controls/components from using custom tags?

[2017-06-30 21:23] naugtur commented on #238
@jbucaran actually, I wouldn't want them to be much more than custom tags. Components (in my view) are custom tags that you don't have to pass all properties to, at least not explicitly.

[2017-06-30 21:24] jbucaran commented on #238
@naugtur So they are custom tags that are bound to the state and actions?

[2017-06-30 21:26] jbucaran commented on #238
Please have a look at @zaceno's [proposal](https://codepen.io/zaceno/pen/gRvWPx) and tell me if you two are on the same page?

[2017-07-01 02:18] lukejacksonn commented on #264
I am going to do this next week, will push a template repo up when it is done and tested!

[2017-07-01 05:48] naugtur commented on #238
Yes.

I would add limiting scope of state passed in, but overall it's what I'd like to use.

[2017-07-01 17:14] jbucaran commented on #228
@cloudever @rileytg Let's move this discussion to https://github.com/hyperapp/router. 👋

[2017-07-01 17:14] #228 closed

[2017-07-01 17:14] jbucaran commented on #250
@andyrj Can we move this discussion to https://github.com/hyperapp/router/issues? 🙏

[2017-07-01 17:14] #250 closed

[2017-07-01 18:10] #88 closed

[2017-07-01 19:01] jbucaran commented on #176
#266

[2017-07-01 19:01] #176 closed

[2017-07-01 21:07] jbucaran commented on #238
I hope I am not the only one having mixed feelings about components now. This discussion motivated me to revisit custom tags and mixins, as well as re-evaluate this project core values, but I am not even sure we have a problem anymore. I say, let's build one or two cool apps first and then revisit this issue.

To summarize my feelings about the issue, I'll quote @zaceno's:

Now, the good news is t

[2017-07-01 21:07] #238 closed

[2017-07-01 21:32] jamen commented on #240
I found this module [`bundlesize`](https://github.com/siddharthkp/bundlesize) that just makes it easier to specify a threshold and deploy on Travis CI.  Might be worth looking into.  :smile:

[2017-07-01 21:56] jbucaran commented on #11
Now that https://github.com/hyperapp/awesome-hyperapp exists, we can close here! Thank you for making this @selfup! You were the first. 💥

[2017-07-01 21:56] #11 closed

[2017-07-02 03:51] andyrj commented on #257
@SkaterDad
https://github.com/hyperapp/server/pull/6 , made pull request with basically what you outlined, need input/help with streaming portion.

[2017-07-02 06:45] jcubic opened #268 "Extend components"
I think this on is features request, it would be nice if you could access state from component like in redux so you don't need to pass state values to custom tags, also access to action would be nice. something like this:

[code]

the change will not break existing apps because options/props will still work the same and state and action will be ignored. In small apps it will doesn't matter but on

[2017-07-02 07:42] jbucaran commented on #268
@jcubic Can you please use syntax highlighting? It is difficult to read the code. \`\`\`js or \`\`\`jsx.

One more thing, in hyperapp we call those "components" _custom tags_. Let's try to use the correct names as [described in the documentation](https://github.com/hyperapp/hyperapp/blob/master/docs/custom-tags.md). 🙏:wink:

The signature you are proposing is impossible without:

1) Changing how `

[2017-07-02 07:42] #268 closed

[2017-07-02 08:23] zaceno commented on #268
@jbucaran

@jcubic said:

If I understand what this issue is about, it's simply about being spared the hassle of doing what @jbucaran said toward the end of his comment.

So in that sense it seems pretty close to:

https://codepen.io/zaceno/pen/gRvWPx
https://gist.github.com/zaceno/83286dfd2a18ebbd3b4f1d7cb5810a0c

[2017-07-02 08:41] jbucaran commented on #268
@zaceno I wonder how an implementation of this in core look like? Just curious.

[2017-07-02 08:56] jbucaran commented on #268
@zaceno BTW, let's call them something like _widgets_ or state-bound custom tags. If we call it components it will make people think they manage their own state, which is not true.

[2017-07-02 14:34] zaceno commented on #268
@jbucaran: agree! "Widgets" are a good name. Short and unique, and not laden with too many preconceptions from other frameworks. Let's go with that for now.

I'll look into a PR about this anyway. My thinking is like this: My example of "components" (yes, I'll start calling them widgets) works without changes to core -- but currently not in mixins. With some changes to hyperapp's core, it could wo

[2017-07-02 15:16] MatejMazur commented on #238
[Here](https://github.com/MatejMazur/hyperapp-mixin) is package for mixins with view (it's just wrapper for my trick which @jbucaran mentioned in this [comment](https://github.com/hyperapp/hyperapp/issues/238#issuecomment-312455621). With this you can write mixins like this:

[code]

and then it can be used in app like this:

[code]
That's it!

[2017-07-02 17:03] MatejMazur opened #269 "Scope mixins"
## Introduction
Why mixin needs to specify its namespace in state and actions? The main purpose of mixin with state or actions will be almost always adding these two props under key with name of mixin (because naturally we want to avoid namespace pollution) so what if we scope state and actions in mixin automatically?

### Actual behavior
Now it's working like this: [counter](https://github.com/Ma

[2017-07-02 18:11] jbucaran commented on #269
I think this is true. It is true in the case of the Router and it should be true in most if not all cases because we want to avoid namespace pollution / collisions as you are saying.

[2017-07-02 19:27] zaceno commented on #269
While I basically agree with this, there needs to be an "opt out". Or perhaps an "opt in" to this namespacing behavior on a per mixin basis. As long as that's there I'm 100% on board

[2017-07-02 19:32] Idered commented on #146
Here's the design. Please leave some feedback. If everything is ok, I can start codding it.

![landing v2](https://user-images.githubusercontent.com/230404/27772970-c3f0bb5c-5f6d-11e7-993a-42f18342c6bc.png)

[2017-07-02 19:32] jbucaran commented on #269
@zaceno So recommend users to namespace their mixins, but don't enforce it?

[2017-07-02 19:41] zaceno commented on #269
Yes, sort of. I mean I see the value of also being able to add mixins that are *not* restricted to a particular part of the state. Things that add general behavior, or behavior that crosses over / combines the power of other mixins

[2017-07-02 19:49] lazarljubenovic commented on #146
I personally love it! Nitpick: the two buttons at the bottom have weird alignment.

Will codes be live-editable?

[2017-07-02 19:54] zaceno commented on #146
Alright -- I'm not the one who signs off on this, but here are my thoughts:

On the whole, I like it! A lot! Very clever with the HYPERapp({...}) in the header! Also super sweet with code examples -- esp if its live editable.

Some things I might polish a bit:

- The purple-ish tone of the header. I think I'd prefer something warmer to make the blue of the logo pop a little more.

- The colored bu

[2017-07-02 20:00] jbucaran commented on #146
I love this. I do. I think @Idered is doing a terrific job and I really appreciate the time you are putting in on this. At the risk of sounding boring, I'd push for a more plain look. Using the same design and ideas you have now, would it be possible to make it look less flamboyant?

While I see where you are coming from with this, but I also see this getting old very quickly.

[2017-07-02 20:05] zaceno commented on #146
Also, wile yarn is popular and all, perhaps we should go with "npm install --save hyperapp"? I mean, npm is after all the default, and we don't want to give the impression that yarn is required.

And yarn users will for sure know that they can just "yarn add" whatever others "npm install"

[2017-07-02 20:06] jcubic opened #270 "Animation or setState"
I want to morph one svg shape to the different one using [veltman/flubber](https://github.com/veltman/flubber)

I've tried to call action from another action and also returning a promise from action but both don't work. Here is my try (it should change one step of the animation):
[code]
and when I've clicked on a button I've got error that `this` is not defined.

Here is a [codepen](https://codepe

[2017-07-02 20:10] jhwohlgemuth commented on #146
@zaceno

@Idered Very nice design!

[2017-07-02 20:14] Swizz commented on #146
I am on the @jbucaran the design is great, but hyperapp need something more pure and elegant.

And I insist, I want an interactive guide for the getting started guide o/

[2017-07-02 20:21] SkaterDad commented on #270
Using `this` goes against `hyperapp`'s reason-to-be, so you won't need to use it.

When I run your Codepen in Chrome I don't get any errors in the console.  Every time I click the button the morphing goes one step further along.

To access the actions within another action, simply pass it as the 2nd argument.

[code]

[2017-07-02 20:26] jbucaran commented on #269
@zaceno Scoped mixins would make @MatejMazur's pseudo-stateful components (components that can manage their own state sort-of) easier to implement.

It works like this.

[code]

Then create your component like so.

[code]

[2017-07-02 20:28] SkaterDad commented on #270
Got it working, I think!  You don't need the Promise wrapping in your animate action, and if you call the `next()` action before checking if you're done animating, you can recursively call `animate()` until it completes.

https://codepen.io/anon/pen/awYQKw?editors=0010

[code]

[2017-07-02 20:31] jbucaran commented on #269
Having said that, scoped mixins also pose a difficult implementation problem, specially scoped actions. Not impossible. I had a working example, but I don't like how it makes actions seem less transparent.

For example, the router currently updates the state like this:

[code]

With scoped mixins, I would expect actions to let me update the state in this way instead:

[code]

[2017-07-02 20:36] jbucaran commented on #270
@jcubic There's no `this` in hyperapp. 😈😄

But actions are passed the `actions` object so you can simply run:

[code]

inside `animate` as @SkaterDad suggested.

[2017-07-02 20:36] zaceno commented on #269
Yeah I think it's probably difficult to nail down the perfect pattern that would fit everything.

Even so I'm not down on this -- it's absolutely something I would use! -- just not every time.

I think the best plan is to play with some patterns for this (outside of hyperapp's core should be possible) until we find the one that works the best. I'm off to play with an Idea I've got right now...

[2017-07-02 20:41] jbucaran commented on #221
Glitch has a nice gem that allows you to export a project to GitHub! 👋😄

<img width="867" alt="screen shot 2017-07-03 at 5 40 35" src="https://user-images.githubusercontent.com/56996/27773330-3f7fe8e4-5fb2-11e7-9bd1-4e3ba38eaf57.png">

[2017-07-02 20:41] #221 closed

[2017-07-02 20:48] MatejMazur commented on #269
@jbucaran You're probably right with your implementation worry.
So we can just enable this possibility in the core of HyperApp and then I can create or extend package for scoped mixins. :simple_smile:
Maybe I can just change my mixin package to default behavior as scoped mixin. Because router and other mixins don't need this package and they don't have view part so they are probably better without

[2017-07-02 20:59] jbucaran commented on #269
@MatejMazur This actually works now.

### `component.js`
[code]

### `counter.js`
[code]

### `index.js`
[code]

[2017-07-02 21:01] jbucaran commented on #269
@MatejMazur One way to improve this is by not passing the entire state into actions, but a fragment of the state scoped to its current namespace.

See [here](https://github.com/hyperapp/hyperapp/blob/184f04bba486f7e8c973fb500ca3a8aeeb9a9058/src/app.js#L38). So, instead of `state`, `state[namespaceKey]`.

[2017-07-02 21:04] MatejMazur commented on #269
@jbucaran Yep, that's possible but I want to avoid namespace clutter what you have in example (you have `counter` in actions). And your solution with partial state is what we did before but I especially need help with mixins prop as object. 👍

[2017-07-02 21:08] jbucaran commented on #269
@MatejMazur I think the biggest problem with the example above is how you define your actions.

But with a little change to how we initialize actions, this could be possible:

[code]

Now, I just need to make sure this doesn't have any unpleasant side effects. 🤔

[2017-07-02 21:12] MatejMazur commented on #269
@jbucaran I think that you go harder way. You can just ask if returned mixin has key `scope` - see [comment](https://github.com/hyperapp/hyperapp/issues/269#issuecomment-312516145) and if so then you just call initialize actions like this:

[code]

[2017-07-02 21:13] jbucaran commented on #269
@MatejMazur The implementation is not important. What's important is to clarify what behavior we want.

[2017-07-02 21:15] MatejMazur commented on #269
@jbucaran And what behavior do you want? I don't see any problem with this. It just allows scoped mixins. That's it. Or maybe I don't understand something..

[2017-07-02 21:20] jbucaran commented on #269
@MatejMazur The conversation is about how you implement the counter, not how we need to change app.js. That part we can decide later.

See: https://github.com/hyperapp/hyperapp/issues/269#issuecomment-312517057

[2017-07-02 21:37] selfup commented on #146
I love that **stateless components** are a "selling" point 😂

We should keep it that way 😛

[2017-07-02 22:12] sylvainpolletvillard commented on #221
So how do I report the bug ? It's a trivial one on TodoList : the way item ids are handled (list.length) causes id conflicts. Reproduce: add items A and B. Remove A. Add C. Try to remove B. C is also deleted because B and C have the same id.

[2017-07-02 22:55] lukejacksonn commented on #240
Looks tidy! Would you say this more useful than a CLI tool that can be used to check size locally before pushing up? I can see advantages and disadvantages of both 🤔

[2017-07-02 23:06] jbucaran commented on #221
@sylvainpolletvillard Ah, I see. Sorry, my mind was somewhere else.

Can you send me a PR [here](https://github.com/jbucaran/todomvc)?

[2017-07-03 00:57] lukejacksonn commented on #146
Also, I've designed enough sites to know that a _mobile first_ approach is not just something they say to do because it is _cool_ 😎 but because it is a useful exercise in content distillation and prioritisation. It is much easier to take something pure and pad it out with swag when the screen gets larger than vice vera.

How about we also try derive some established common ground in the following:

[2017-07-03 01:01] jbucaran opened #271 "Rename custom tags to Components"
This is a documentation change proposal.

After discussing the issue with @zaceno, I'd like to rename custom tags to stateless components or components for short.

[2017-07-03 01:44] lukejacksonn commented on #271
They actually **are** stateless/functional components.. right?

At least by the common reference:

- https://facebook.github.io/react/docs/components-and-props.html
- http://vuejs.org/v2/guide/render-function.html#Functional-Components
- https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0
- https://hackernoon.com/react-stateless-functional-components-nine-wins-you-might-have-ove

[2017-07-03 01:46] jbucaran commented on #271
Yes, so basically we're doing the right thing now.

[2017-07-03 02:00] lukejacksonn commented on #271
So long as there is sufficient emphasis on the fact that these are *stateless* or *functional* or *stateless functional* components then I'd say so. At least, it would be inline with the common definition of the _thing_.

In the react guide it says quite clearly 😂

[2017-07-03 02:06] jbucaran commented on #271
SGTM

[2017-07-03 02:06] SkaterDad commented on #271
+1 to calling them **functions** or **functional components**.

[2017-07-03 02:44] lukejacksonn opened #272 "⚡️ Ideas for useful mixins"
Presuming _mixin_ functionality remains as we know it today.. what are they most useful for? Can we think of any low level implementations like the `Logger` that would be useful in many projects?

Some inspiration:

- `InternalLinker` - handles the routing of internal views
- `MouseTrap` - maps mouse events to the app state
- `WindowScroller` - maps window scroll position to the state
- `MediaPlay

[2017-07-03 02:59] jbucaran commented on #272
@lukejacksonn Good question! Let's see what kind of response do you get.

By the way, mixins (formerly known as plugins) were introduced when we decided to decouple the previously built-in router from app.js into its own file. (@dodekeract was one of the first who sought this functionality.) So, the first use case was the router.

[2017-07-03 03:01] jbucaran commented on #269
## Notes

Here is what we are trying to achieve in easy to understand pseudo-code.

This is the app.

[code]

Let's define mixin A.

[code]

And mixin B.

[code]

As you can see mixins A and B state and actions seem to be isolated from the global state/actions. In fact, the state either mixin action receives is a *fragment* of the global state.

This, of course, _is not_ how mixins work at the mom

[2017-07-03 03:04] jbucaran commented on #249
Can you share your dev workflow? Maybe that would help explain why you prefer some tool over another? HMR vs redux-dev-tools, etc. /cc @andyrj @jamen and @whaaaley

[2017-07-03 03:06] jbucaran commented on #258
@lukejacksonn A simple PR that mimics preact in this instance wouldn't hurt to have. @mauron85 Would you like to work on that?

[2017-07-03 06:56] jcubic commented on #270
Great, thanks, this is exactly what I need and thanks for this awesome framework/library.

[2017-07-03 06:56] #270 closed

[2017-07-03 07:50] Swizz commented on #269
The best consensus about the @MatejMazur and I wants :heart:

**This** is what I had in mind since the begining of the Components discussion.
Im frustrated it is still called `Mixins` but Im glad to be able to use **this** in my app.

STATE need a little more work about isolation, but this can wait a PR after it will be fully implemented at this stage.

[2017-07-03 08:16] MatejMazur commented on #269
With this approach would be possible to keep merging in the top level (this would be default behavior of mixins) and merging under name of mixin (scoped mixin). But there was question about events in scoped mixins -> they must be scoped too because otherwise it breaks whole idea. Scoped mixins can work independently as `app()` so there must not be any clutter with namespace.

[2017-07-03 08:18] Swizz commented on #240
[`bundlesize`](https://github.com/siddharthkp/bundlesize) looks awesome, and Hyperapp seem to be the typical use case for that !

[2017-07-03 09:15] Swizz commented on #272
Here a starter for hyperapp package shameless based on the [@hyperapp/router](https://github.com/hyperapp/router)  : [Swizz/hyperapp-package](https://github.com/Swizz/hyperapp-package)

I dont know the @jbucaran thoughts about it, but I think I will personally use this to quick start hyperapp package with ease :tada:
(Ill be glad to gift it to the org)

[2017-07-03 09:21] jbucaran commented on #272
@Swizz That is cool, but please notice @lukejacksonn is trying to collect ideas for mixins.

:)

[2017-07-03 09:24] Swizz commented on #272
Ow sorry, I thinked It was asking for Mixins (and alike) creation. I can remove my comment as you wish.

[2017-07-03 09:31] zaceno commented on #272
Inspired by the firebase-store-idea: something that lets you control and react to PouchDB replication

[2017-07-03 09:49] jbucaran commented on #272
@Swizz No need to do that. 😄

Another example are mixins that wrap views to provide something similar to what we were trying to achieve with components.

Here is a simple one:

[code]

[2017-07-03 09:52] jbucaran commented on #272
@lukejacksonn Isn't `MediaPlayer` more like a component (prev. known as custom tags)?

[2017-07-03 09:55] zaceno commented on #272
@jbucaran: but if you want to keep the player controls in sync with the app (perhaps to implement a custom player-controls-bar) you'll need more than just the vtree. Youll need the state, events, and actions too. Seems like the perfect candidate for a mixin to me

[2017-07-03 10:02] jbucaran commented on #272
@zaceno I see what you mean. 👍

[2017-07-03 11:18] MatejMazur commented on #269
I'm closing this issue because @zaceno and @jbucaran helped me with better implementation which doesn't need intervention in the core of HyperApp. 👍

Here is experimental package which allows to write mixins in scope: [link](https://github.com/MatejMazur/hyperapp-scope).

[2017-07-03 11:20] jbucaran commented on #269
@MatejMazur This looks fantastic! I think we might even want to support this package officially.

@zaceno?

[2017-07-03 11:34] zaceno commented on #269
@MatejMazur  From just reading the code, it looks to me like it does exactly what I'd expect it to do. I'd have to play with it a little to be sure (codepen?) -- but still: great work!

@jbucaran Officially supported how? As a @hyperapp/scoped-mixin package? Totally!

[2017-07-03 11:38] MatejMazur commented on #269
@zaceno Here is repo with example of usage: https://github.com/MatejMazur/hyperapp-component-experiment/tree/master/src
`src/counter.js` uses this package.

[2017-07-03 11:38] #269 closed

[2017-07-03 12:41] zaceno commented on #269
@MatejMazur
Ok looked at it now, and think we can do even better -- I think we can make it so you don't even have to pass the state and actions to your Coutner component. Looking into it...

[2017-07-03 12:46] lukejacksonn commented on #272
What @zaceno said! This would work especially well with https://github.com/MatejMazur/hyperapp-mixin

[2017-07-03 13:01] jbucaran commented on #269
If you mean composing mixins, then nope, don't think so. I think this is desirable given that mixins can compose in hyperapp (thanks to @jamen).

[2017-07-03 15:30] lukejacksonn commented on #258
I just tried implementing this.. and now I am of the opinion that there are too many cases to cover to do _properly_.. and why are we defaulting to `px` for _dimensional_ properties.. why not `rem|em|%` 🤔 how is this helping anybody?

It will _prevent people getting confused if they enter a numerical value_ is the argument (and it probably does) _but_ it introduces more magic, which might confuse

[2017-07-03 15:41] andyrj commented on #249
When I have ssr and hydrate cleaned up, I plan on adding persistence support to the hyperapp-redux-devtools mixin, so that it can work better with the live reload setup.

My preferred workflow starts at having one npm script to run a hot module replaced backend, that is also compiling and serving a hot module replaced frontend via webpack.  Currently I prefer to have refresh in my browser behave a

[2017-07-03 15:44] jbucaran commented on #249
@andyrj Thanks for sharing. Don't you think we should prioritize this issue and leave hyperapp/server for later, essentially the opposite order as you mentioned? 🤔

[2017-07-03 15:49] andyrj commented on #249
I didn't see anything actionable here atm, other than the feature add to the mixin.  What did you have in mind?

[2017-07-03 15:55] jbucaran commented on #249
Simplify. Decide on at least one good workflow and publish official packages we can recommend to newcomers.

I think that hyperapp/server is good to have in the long term, but in the short term presenting an HMR/redux-dev-tools, etc., official solution will go a longer way.

[2017-07-03 16:15] andyrj commented on #249
Ok, I can get redux-devtools compatible with live reload pretty easily, can even make the persistence opt out to first support the hyperapp live reload way by default.

[2017-07-03 16:17] andyrj commented on #249
I don't feel like my workflow should be the official, I am more for supporting the simpler workflow @jamen and @whaaaley are proposing.

[2017-07-03 16:27] dodekeract commented on #272
I'm basically using mixins for these things:

1. share code across hyper app apps (we have one project on @attach-live that has 4-5 instances of hyper app running in a single website, lol)
2. scope code by category (Similar to what router does, but for stuff like WebRTC and iframe management/`postMessage`)
3. generic logger functionality that I plug into every hyper app project I have.

[2017-07-03 16:33] jbucaran commented on #249
So, perhaps the work that should be done is documentation?

[2017-07-03 16:40] andyrj commented on #249
Ok no problem, can do that for redux-devtools.  I thought we were going to not muddy the water with HMR and live-reload.  Instead just go with live-reload on docs right?

[2017-07-03 18:27] nippur72 commented on #87
two things to note:
- actions may not return a `State` but a subset of it (which is then merged with the state). If I am not wrong, a subset of an object in TypeScript can be modeled using `Pick<T>`.
- `Events`: it can contain custom events, not just `loaded`, `render` etc... So I think it should be modeled as a map.

[2017-07-04 04:20] jbucaran commented on #87
If anyone can open a PR we could continue the discussion there and close here. 👋🤔

[2017-07-04 04:24] jbucaran commented on #249
Really? 🤔

I don't find live reload that useful, but live reload with HMR (so that state persists), that's a different beast.

And you can still use HMR with that?

---

I am sorry, but I am going to have to disagree here now. I think having an "official" / recommended workflow is doing a great favor to the community and early adopters in hyperapp.

[2017-07-04 05:33] jamen commented on #249
@jbucaran So, the reason I took my approach is to try and satisfy people that use all different types of build systems.  This plays into why mine includes no live-reloading, because that requires assumptions about the developer's build system...  So I left it open-ended, and you can choose the live-reloading plugin.

The problem I'm facing is with Webpack is that I have no experience with `module.

[2017-07-04 05:49] jbucaran commented on #249
Why does @andyrj's hyperapp-hmr exist then?

[2017-07-04 05:59] jamen commented on #249
I assume you mean `hyperapp-webpack-hmr`, because `hyperapp-hmr` is the one I published (which as mentioend in the original post, was probably improper).

But I digress.  It would be because:

I don't have experience with webpack.  I know some people would be more comfortable with hyperapp if they were able to use webpack HMR how they normally do (with `module.hot`),  but at the same time hyperapp

[2017-07-04 06:02] jbucaran commented on #249
@jamen Help me out here. From your README:

Okay, what about renaming this module then? I am just trying to bring clarity here before this goes out of hand.

[2017-07-04 06:06] jbucaran commented on #249
Maybe the most confusing ones are:
- https://github.com/andyrj/hyperapp-webpack-hmr
- https://github.com/jamen/hyperapp-hmr

Either we find a way to keep only one, or rename them? 😉😅

[2017-07-04 06:08] jamen commented on #249
I am for renaming it, that was part of my proposal:

I just wanted to sure we were all on board, because the discussion has mainly circulated between me, @whaaaley, and @andyrj, so this big thread was for sharing the conclusion came to.

[2017-07-04 06:11] jbucaran commented on #249
@jamen Thanks for clearing that up. Please move (rename means more maintaining so...) as you see. Just one pet peeve, "/all" does not strike me as very obvious at first sight. Why that name?

[2017-07-04 06:15] jamen commented on #249
With `hyperapp-persist` you have a more free control over the previous state.  Say for example, you wanted to restore a video time, and do it when the user clicks a confirm button.

This is different from persist all of state when the app loads, to give the effect of hot-reloading.

[2017-07-04 06:23] jbucaran commented on #249
Okay, let's close here after you've decommissioned the package and #276 is merged.

Thanks! 👋

[2017-07-04 06:46] zaceno commented on #271
As per @jbucaran's request:

My argument against the use of "custom tags" for functions of the type `(props, children) -> vnode`, is that they are only similar to actual html-tags in the context of JXS, where such a function named `Counter` can be callled and embedded in a vtree like this: `<div><Counter /></div>`.  If you're using hyperx, it looks like this `<div>${Counter()}</div>`.

[2017-07-04 07:12] jbucaran opened #277 "Revamp events/emit API."
#259 has been merged, #275 is also on the way and we've decoupled the event emitter from app().

Thanks @zaceno and everyone else: @lukejacksonn @selfup @jamen @dodekeract who contributed to the discussion.

As a result, you can now create isolated hyperapps that can communicate to each other or use the emitter to communicate with your hyperapp from other parts of your application.

I think the AP

[2017-07-04 07:38] zaceno commented on #277
I like this change a lot! Having the emitter available in mixins, I see some potential for new

A thought: does `.on("event"...` imply there will be an `.off("event"...` -- and would that even be necessary. (I think not, because we haven't needed it this far, but the thought struck me)

[2017-07-04 07:38] Swizz commented on #87
Yeap, I was waiting, some PR to be closed, Regarding #266 #259

I will make a PR within day. After documenting on @nippur72 suggestions.

[2017-07-04 07:41] jamen commented on #277
For #259 and #275 I imagined they'd be more for hooking into certain modules like websockets or SSR, etc.

Is this an okay path to take?  I feel like we lose a sense of single-state doing that.

[2017-07-04 07:45] zaceno commented on #277
I'd say it's pretty safe. I mean: there is still only one (approved) way of changing the state, and that is by invoking actions. Events in themselves can't change the state, they can only call actions. And since actions are only provided inside event handlers, there's little risk you'll spread out your state-mutations all over the place.

[2017-07-04 07:52] jamen commented on #277
I'm not really a fan of adding `.on(...)`.  It seems like an odd addition to me, when everything else is specified through the object.  I like how centered that is personally.

Also, inside mixins are you supposed to set `emit.on(...)` at the base?

[code]

This doesn't really appeal to me.

[2017-07-04 07:53] jbucaran commented on #277
If you are using events, yes.

[2017-07-04 07:56] jbucaran commented on #277
Me neither, but `emit` exists. Where there is an `emit`, there's also an `on`. I wish we could figure how to do all this without either, but that seems unlikely.

[2017-07-04 07:57] jamen commented on #277
It doesn't really bother me that there is no `.on(...)`, because `app.events` operates as the replacement.

Maybe "dispatch" or "send"?  Same meaning just different vibe.

[2017-07-04 08:00] jbucaran commented on #277
There is another issue which is I want to simplify the things we use the most at the expense of those parts we don't.

I've always found this more complicated than it needs.

[code]

And I rarely use any of the other events.

[2017-07-04 08:01] zaceno commented on #277
Looking at it again, I think maybe I'm with @jamen... I haven't really missed the "on" before. I mean, I haven't had the need to be able to "spread out" my event handlers outside the app definition.

What I *do* like is that since app returns emit, and if we start passing emit to mixins, we won't need to pass "emit" along to all the actions (and it would make emit available in views without passin

[2017-07-04 08:06] jamen commented on #277
Maybe `app.on`?

[code]

If only there was something like:

[code]

[2017-07-04 08:08] jbucaran commented on #277
@zaceno I just realized you could've always access `emit` without having app return it.

[code]

[2017-07-04 08:11] zaceno commented on #277
@jbucaran ah. Hadn't thought of that, but you're right of course. Still think returning emit is more elegant (and if we're going to return something, I'd say it's the most natural thing) But that's good to know if we ever need to revert the return-emit PR

[2017-07-04 08:16] jbucaran commented on #277
@jamen @zaceno What about renaming `events` to `on`?

[2017-07-04 08:29] zaceno commented on #277
Didn't realize this before either, but events are a possible way to hack "getters" into hyperapp without causing a rerender (and potential infinite loop). I think this should be possible (although I'm sure it's an implementation detail not to be relied on):

[code]

[2017-07-04 10:45] jbucaran opened #278 "Rename appOptions.events to appOptions.on"
Related #277.

[2017-07-04 10:58] ngryman commented on #277
I personally like the current declarative way to listen to events. `.on()` is imperative and also involves that you will eventually `.off` later, which is rarely the case at the app level.

A rule of thumb would be:
 - app lifetime things: **declarative**.
 - others: **imperative**.

IMO both API should be available, so you can listen and forget using the declarative syntax, or handle more complex

[2017-07-04 10:59] jbucaran commented on #277
Thanks @ngryman!

I received a lot of great feedback here.

Closing in favor of https://github.com/hyperapp/hyperapp/issues/278.

[2017-07-04 10:59] #277 closed

[2017-07-04 11:05] zaceno commented on #278
One thing I liked from #277 is that the idea of passing the emit function to mixins (as well as returning it from app)  Could we still do that, please?  As a follow on, we could *stop* passing the emit in arguments to each ~event~ on and action.

[2017-07-04 11:14] jbucaran commented on #278
@zaceno Yeah, definitely that too. I forgot to mention it.

[2017-07-04 11:25] nippur72 commented on #87
we also need to redefine the `JSX` namespace in order to enable the jsx syntax (aka `.tsx`). I tried the `react` one but event handlers don't match with HyperApp actions. But I guess we can predate and adapt `@types\react`.

[2017-07-04 11:42] Swizz commented on #87
I am on it, with JSX support (in naive way, btw) 😄

https://github.com/Swizz/hyperapp/blob/typing/hyperapp.d.ts

I am ready to PR after few more tests and no solutions about Events yet.

[2017-07-04 13:01] lukejacksonn commented on #278
I'm not entirely convinced on this one.. seems like change for the sakes of change 🤔

What is so wrong with the name `events`..

At the moment there is app `state, actions, events, view` all of those words represent _things_ where as the word `on` really isn't too descriptive.

We are all going to know what it means, but will in confuse new starters more than it will aid us?

That said, sometimes

[2017-07-04 13:03] jbucaran commented on #278
We could go back to hooks?

[2017-07-04 13:06] jbucaran commented on #278
Hmmmmmmmm, I guess you are right.

[2017-07-04 13:21] zaceno commented on #278
Personally, the change of 'events' to 'on' is not important to me. In fact it would break things, and I see @lukejacksonn 's point.

But I still do want the stuff I mentioned above :)

[2017-07-04 13:42] SkaterDad commented on #278
I agree with @lukejacksonn and @zaceno that the current naming is good.

Whats the use case for passing the emit function to a mixin outside of the current way through actions?

[2017-07-04 13:48] jbucaran commented on #278
@SkaterDad https://github.com/hyperapp/hyperapp/pull/280

So it all boils down to this:

[code]

vs

[code]

[2017-07-04 13:52] zaceno commented on #278
@SkaterDad

Now that app returns emit, it makes emit available in the scope of the appOpts.actions and events, so we could make the api cleaner by removing emit from the paramters to actions and events.

... Unless you're defining those functions elsewhere and are merging together the appOptions.

But you could and probably should be merging in actions and events via mixin. So we should pass the e

[2017-07-04 13:56] zaceno commented on #278
But it would break this pattern, if someone was using it:

[code]

... but that's exactly why we have mixins. So I see no harm.

[2017-07-04 13:59] jbucaran commented on #278
Closing here since:

@lukejacksonn's argument

changed my mind.

[2017-07-04 13:59] #278 closed

[2017-07-04 19:32] andyrj commented on #249
@jbucaran

Yes with webpack HMR does not refresh the browser, so state doesn't have to be stored in localStorage and refresh can act as a reset switch of sorts.

I did not mean we should not have a recommended workflow, just that it should be what @jamen and @whaaaley are pushing for and not my webpack specific workflow.

[2017-07-04 19:58] andyrj commented on #257
I wanted to attach references to this discussion for possibly not needing to add hydrate() to hyperapp.app but instead serializing the vdom server side into a script tag that can be parsed client side before first render when it exists...

https://github.com/hyperapp/hyperapp/pull/282#pullrequestreview-47919151
originated: https://github.com/hyperapp/server/issues/7

This would allow for hydration

[2017-07-04 20:02] jamen commented on #258
I'm with the side of keeping it minimal...  But I think we should definitely document the behavior, so we at least have something to reference in the event someone gets confused or needs help.

Also for the record, it is incredibly easy to parse a number out of a CSS value.  Just use `parseInt` or `parseFloat`!

[code]

In rare instances you want to parse the unit, I've created this future-proof p

[2017-07-04 21:00] SkaterDad commented on #257
@andyrj That discussion in hyperapp/server#7 was pretty confusing to me.  Even if you serialize the vdom tree, you still need to modify `hyperapp` core to use it, right?

The big drawback to that approach in my mind is that you're sending the serialized vdom **and** the HTML markup.  As you said, more bytes sent to the user, and probably slower performance on server side since you have to generate

[2017-07-04 21:10] andyrj commented on #257
@SkaterDad
I agree, but I wanted to see what others thought since it would be less code in core.  I was also confused in https://github.com/hyperapp/server/issues/7 about what was gained by the data-id, and kind of thought of this while trying to clarify what it was being proposed for.

[2017-07-05 00:43] ngryman commented on #269
I'm just dropping another idea to tackle this: why not providing a local state/action for mixins?
Something like React component states. I already feel tomatoes thrown at me 🍅

[code]

*Naming is ugly*

[2017-07-05 04:28] jbucaran commented on #258
@jamen How do we decide what unit to add? So, if no unit is given, add `px` by default?

Yes, this is always a good idea. There's currently no section on styling in the docs, so creating one and adding a note about this would be the place to go. It would be nice to add other info about styling in general.

I say we close here for now, since we are not adding px/unit automatic support to core for t

[2017-07-05 04:34] jamen commented on #258
From what I read, I thought the plan was to just keep it as-is, and tell the user to specify a unit...  Because, just putting a number by itself is ambiguous and would depend on the CSS declaration.

I was agreeing what @lukejacksonn  had said above:

[2017-07-05 05:32] jbucaran commented on #258
@mauron85 Shall we close here? If you want to contribute with some docs on styling in general, that'd be ace 💯. If that's not possible at this moment, I know we'll around it someday as the docs continue to evolve. 😃👍

[2017-07-05 07:27] zaceno commented on #269
@ngryman that's an interesting pattern -- I think most naturally implemented outside of core hyperapp. I think that should be possible.

[2017-07-05 08:48] jbucaran commented on #269
@MatejMazur figured out how to create _fragments_ without intervention from core, so I am positive the pattern you have proposed can be achieved in a similar manner.

😆👍

[2017-07-05 13:44] #271 closed

[2017-07-05 14:36] jbucaran commented on #218
@dodekeract Good news! We were able to fix this by introducing a new [`oninsert`](https://github.com/hyperapp/hyperapp/blob/master/docs/lifecycle-events.md#oninsert) lifecycle event.

[2017-07-05 14:36] #218 closed

[2017-07-05 14:47] jbucaran commented on #147
@queckezz Any ideas what to do with this issue?

We will not introduce stateful components to HyperApp, but on the other hand we have discovered there are patterns that allow you to get some of the benefits usually associated with components.

**See**: https://github.com/MatejMazur/hyperapp-fragment

[2017-07-05 14:50] jbucaran commented on #240
So, I went ahead and added bundlesize to package.json. 😎

As for benchmarks, well, there's ngryman's https://github.com/hyperapp/hyperapp/pull/186. I don't think it is feasible (or even a good idea to try to integrate) js-framework-benchmark benchmarks, but I am open to other suggestions.

@lukejacksonn I'd prefer to close here in favor of #186, but feel free to keep it open if you want to add som

[2017-07-05 15:35] mauron85 commented on #258
@jbucaran go ahead close this. I can't give you any promises about the docs. As I'm working on multiple OSS projects already and well also I'm not native english speaker, so I believe there is better person for this job. (Those excuses :-))

[2017-07-05 15:37] #258 closed

[2017-07-05 15:37] jbucaran commented on #258
@mauron85 Deal! 😄:+1:

[2017-07-05 19:30] mohamedattahri commented on #146
@lukejacksonn - I think it's easier to derive a style from a design than the opposite. What @Idered has done could be a good way to start.

[2017-07-05 19:37] lukejacksonn commented on #240
@jbucaran now that size is being monitored by bundlesize (nice find @jamen!) then all that remains is some perf testing so 🏓 https://github.com/hyperapp/hyperapp/pull/186

I tested @ngryman's PR the other day and it works.. not half as pretty and perhaps insightful as if we got it wired up to https://github.com/ngryman/speedracer 😏

[2017-07-05 19:37] #240 closed

[2017-07-05 19:43] jbucaran commented on #146
Some details.

- Logo: What do people think about the current logo? Is it a keeper?
- Color: #00CCFF
- Fonts: LHF Brianna Slant / Helvetica Neue?

[2017-07-05 19:50] lukejacksonn commented on #146
I'm not saying don't take inspiration from what @Idered has done! You could use this as a basis to fill in the blanks like @jbucaran has done above..

I am trying to encourage a more distributed approach (where we don't rely solely on the designer @Idered to create assets). A real design system is one that allows for anyone to build something with that _hyperapp_ feel.. for that we need to establi

[2017-07-05 19:54] zaceno commented on #146
@jbucaran -- I feel like the logo is good! At least, I don't see any reason to change it, and since it's probably starting to be a little recognized (after our couple of trending-peaks recently) it's maybe best to leave it.

[2017-07-05 20:01] zaceno commented on #146
@lukejacksonn I think it's a good idea, but *very* ambitious. And also, atm, we don't really need the design system for anything more than the website. (Ok maybe the docs, if we intend to publish them somewhere other than the github repo)

So I think, rather than *starting* with a design system, the approriate order of business is:

1) Get a website that's nice. (We're in a good direction with @Id

[2017-07-05 20:11] jbucaran commented on #146
Not trying to be funny or anything, but I would patch (1) as follows:

1. Get a website. 😅

[2017-07-05 20:25] Idered commented on #146
Thank you all for feedback. I'll now adjust the design. I'll try to change style from `flamboyant` :P to `premium` and by that, I mean total minimalism. A few days break and gave me a fresh view on what I've done.

[2017-07-05 20:29] eschaefer opened #284 ""ready" event not firing"
Hey there,

I'm playing around with the app events, and cannot get "[ready](https://github.com/hyperapp/hyperapp/blob/master/docs/api.md#ready)" to fire. Here's a minimal example, with [JSBin example](http://jsbin.com/xafufonoco/2/edit?js,console,output). "render" fires just fine, but the "ready" event does not get called:

[code]

Not sure if it's a bug, or if I'm doing it wrong. Much thanks!

[2017-07-05 20:48] jamen commented on #284
This has been changed on GitHub, but not yet released through npm.  It was renamed from `loaded` to `ready`, so you can use the former for now.  Sorry for the confusion, we have been polishing up for a v1 release.

[2017-07-05 21:02] #284 closed

[2017-07-05 21:45] amatho opened #285 "app(...) does not return emit"
Correct me if I'm wrong, but it seems like a call to `app` doesn't return the `emit` function. The docs describing this behaviour is [here](../blob/master/docs/core.md#custom-events)

[2017-07-05 21:53] lukejacksonn commented on #285
Good spot! AFAIK.. the docs have been updated to reflect changes to the code that have been merged but have not yet been released.

The app function should return `emit` as described in the docs, once `1.0.0` is released (unless there is a pre-release). See here for the related commit https://github.com/hyperapp/hyperapp/pull/280/files#diff-bd9c9dcd314f2d7df52935b3a6a4d504L26

Sorry 🙏

[2017-07-05 21:58] amatho commented on #285
Ah, that makes sense. Thanks for the quick clarification 👍

[2017-07-06 01:03] jhwohlgemuth commented on #146
Reflecting on @Idered's awesome design and @lukejacksonn's point about developing ["that hyperapp feel"](https://github.com/hyperapp/hyperapp/issues/146#issuecomment-313207790), I was thinking @Idered might want to keep [@hyperappjs](https://twitter.com/hyperappjs)'s twitter banner in mind (either as inspiration for his design or as something to include in his design)

![hyperapp_twitter_banner](h

[2017-07-06 03:06] lukejacksonn commented on #264
https://github.com/lukejacksonn/hyperapp-electron 😉

[2017-07-06 03:08] jbucaran commented on #264
@lukejacksonn Looks super cool! Let's close here and add that nugget to the awesome list. 👊😄:+1:

[2017-07-06 03:08] #264 closed

[2017-07-06 07:26] Swizz commented on #146
Hyperapp is simple but magic ; we need a website simple but magic :smile:

But I definitly love (want to keep) the

[2017-07-06 07:29] Swizz commented on #285
Dont we need a support branch (or tag) of the current released version to keep the doc synced ?

[2017-07-06 08:02] jbucaran commented on #146
@Swizz Unless magic is an inherent characteristic of Virtual-DOM based frameworks, I don't (hope there isn't) see any magic in HyperApp.

TBH I am a bit susceptible to this word ([magic](https://www.wikiwand.com/en/Magic_(programming))), used in the context of programming and wouldn't want HyperApp to be considered as such.

Can you share what you thought was "magic" about HyperApp? 🙏

[2017-07-06 08:21] Swizz commented on #146
Oh. I meant awesome. I straightly translate from my thoughts, and in my culture we said magic for something that raise a "Waouh effect" : When I saw it, my thought was "I want to use it, I want to take part of this project" :fireworks:

[2017-07-06 10:54] jbucaran commented on #146
Sure! Just leaving it there for the record. 🌟:+1:

[2017-07-06 10:54] lukejacksonn commented on #285
We should really. IMO master branch should really represent the current release and we should be merging `1.0.0` changes into a release branch that we can cut and merge all at once when the time is right.. what are your thoughts on this @jbucaran?

[2017-07-06 10:58] zaceno commented on #285
@lukejacksonn If master is just the latest official release, then we'd need a "dev" branch into which to merge PR's. And that would probably confuse anyone making a PR (I can imagine a lot of PRs mistakenly made toward master). I think the way we're branching & tagging releases today, is kind of how Github is designed to be used anyway.

[2017-07-06 12:27] Swizz commented on #285
In github we can set another default branch than master

[2017-07-06 13:11] zaceno opened #287 "Make emit's return behavior official"
There is an undocumented and unofficial feature I find myself relying on quite a bit in order to keep my mixins independent and loosely coupled.

That feature is that `emit('someevent')` will return whatever the last handler for ‘someevent’ returns.

This is very handy if mixin A needs to know the answer to a question such as: `state.mixinB.usernames.indexOf("bobby") > -1`.

Rather than hardcode t

[2017-07-06 13:21] zaceno commented on #285
@Swizz Cool didn't know that

[2017-07-06 13:25] zaceno commented on #287
I now noticed that this behavior *is* official and documented (albeit not very clearly) using the router implementation as an example (and that's sort of the same way I'm using it, but not for routing).

So I'm good. :P

[2017-07-06 13:25] #287 closed

[2017-07-06 13:50] jbucaran commented on #285
That I agree, but it would make my work more difficult at this stage. I always seek self-improvement, so I am happy to hear about other people's workflows too and if a nice and easy to understand process is described here I might even adopt it.

[2017-07-06 18:17] davidmh commented on #285
[Git-flow](petervanderdoes/gitflow-avh) is a great branching model that does exactly that and automates the convention.

[2017-07-06 18:32] jbucaran commented on #285
Thanks @davidmh! Will watch it tomorrow. 🤔

[2017-07-06 21:31] Idered commented on #146
Guys, I just can't... ![](http://i.imgur.com/Wint4M0.png)

[2017-07-06 21:34] jbucaran commented on #90
Close in favor of #286.

[2017-07-06 21:34] #90 closed

[2017-07-07 01:25] dodekeract commented on #218
@jbucaran Hmm, I still think it's very odd that hyper app crashes when I do something with the state in the `oncreate` hook.

[2017-07-07 02:09] ngryman commented on #269
Ok I was talking a little with @jamen about this and I came up with a nasty idea.
What about exposing a hook that let us customize how mixins are merged by the core.

[code]

🍺 or 🍅 ?

[2017-07-07 04:51] jbucaran commented on #218
@dodekeract I it won't even crash in `oncreate` after #286 since rendering is now effectively async.

[2017-07-07 06:07] jbucaran commented on #218
@dodekeract Having said that, "for the record", you shouldn't probably be calling `actions` inside `oncreate`, that's not what it exists for.

[2017-07-07 12:56] lukejacksonn commented on #285
@jbucaran no worries.. just curious!

I'll try get one of these down on paper 🗒

[2017-07-07 12:57] lukejacksonn commented on #285
@amatho closing this issue now as it has been answered. Will reference it when the next person notices that app doesn't return emit (yet) 😅

[2017-07-07 12:57] #285 closed

[2017-07-09 17:10] #257 closed

[2017-07-09 17:22] jbucaran commented on #216
Focus has shifted to introducing rAF and vnode recycling. Closing in favor of #244.

[2017-07-09 17:22] #216 closed

[2017-07-09 17:25] jbucaran commented on #249
@andyrj How are we standing here after https://github.com/hyperapp/hyperapp/commit/599c33dd13fa9c30a50a42809251f5fa91733b29?

@jamen Last I heard you said you'd wrap all the modules into a hyperapp-reactor package a-la Elm. Is that correct?

[2017-07-09 17:29] #147 closed

[2017-07-09 17:41] andyrj commented on #249
@jbucaran the hydration just effects webpack-hmr and makes it so the dom doesn't flicker from being wiped.  And hydration should also allow for uncontrolled inputs to persist what value they have through hmr.

[2017-07-09 17:43] jbucaran commented on #249
Great! So what should we do to be able to close here? Do you think we could we make a few goals or roadmap? 🤔:smile:

[2017-07-09 18:30] andyrj commented on #249
I think we are good to close here since @jamen is making a different package for the live reload stuff.

[2017-07-09 19:54] jamen commented on #249
That is correct.  To sum up what I want to do:

 - `hyperapp-reactor/hot-reload`:  Mixin to persist state between sessions
 - `hyperapp-reactor/timeline`: Mixin to take snapshots of state changes for rewinding
 - `hyperapp-reactor`: A little debugger tool that wraps the mixins together

[2017-07-09 20:07] #249 closed

[2017-07-09 21:11] yelouafi commented on #216
@jbucaran I might be wrong but I suspect raf or recycling will help solving this issue.

I think the issue is [here](https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L211-L221). You're building the keymap too early, with a 10k table, you'll build an object with 10k which takes some time (even if in this case it is not necessary).

I would suggest running some preoptimization passes to t

[2017-07-10 02:48] jbucaran commented on #216
Just to clarify, did you mean to say perhaps they will _not_ help?

What is a prefix/suffic?

[2017-07-10 02:59] leeoniya commented on #216
https://github.com/localvoid/kivi/blob/master/lib/vnode.ts#L1288

[2017-07-10 03:12] jbucaran commented on #216
The comment alone is bigger than hyperapp. 😆

[2017-07-10 03:55] leeoniya commented on #216
but it minifies to 0, even before gzip!

[2017-07-10 09:16] yelouafi commented on #216
Yeah, sorry for the typo.

Those are the sequences of elements that are the same at the start (prefix) and at the end (suffix) in the old and the new sequences. For example

old sequence :   `A B C D E`
new sequence :  `A B x y C D E`

In this example 2 elements `x` & `y` were inserted in the middle. `[A,B]` is the common prefix and `[C,D,E]` is the common suffix. We can identify those with a simp

[2017-07-10 09:28] jbucaran commented on #216
@yelouafi I want to make sure we are on the same page: in your example, AB C and D are keyed nodes and x, y un-keyed nodes. Is that so?

[2017-07-10 09:43] yelouafi commented on #216
Trimming will work for both keyed and non keyed nodes. For non keyed nodes the comparaison will return true for nodes with the same type

[2017-07-10 09:58] jbucaran commented on #216
Right, I think I meant to ask: why are some of the letters uppercase/lowercase?

[2017-07-10 12:06] lukejacksonn commented on #249
FWIW I still call `hot-reload` "persist" in my head.. because that is what it does, it ensures state persists between sessions. Does it incorporate live-reload, is that where I am getting confused?

[2017-07-10 20:55] SkaterDad commented on #257
@andyrj @jbucaran
I've been doing some experimenting  with a server-side `app()` function, including waiting for async actions on init/loaded events automatically.

I still have some cleanup and API tweaking before I'll push to Github, but want to get a thread going for discussion.

@jbucaran Where do you want to keep the discussions and planning around SSR?  In this main repo, or in the 'server'

[2017-07-10 21:25] lukejacksonn commented on #156
Related: https://hyperappjs.slack.com/archives/C41ECC0V6/p1499698015602500

Currently onupdate gets called every time the _state_ changes not every time the _element's data_ changes. It should probably behave as described in the docs, that would make sense.

@ngryman pointed toward [app.js#L178](https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L178)

I have had a go at refactoring `upda

[2017-07-10 21:35] ngryman commented on #156
Also, does `onupdate` bubbles up to parents?

[2017-07-11 00:12] jbucaran commented on #257
@SkaterDad I think https://github.com/hyperapp/server/issues is the right place, but feel free to comment here or create a new issue in hyperapp/hyperapp/issues if you think it belongs there or it is related to SSR DOM hydrating.

[2017-07-11 07:55] zaceno opened #291 "Array as state is cast to Object"
This example does not work as expected: https://codepen.io/zaceno/pen/RgqOzL

It fails becasue the state is initialized as `state: ['X', 'Y']`, but then internally transformed into: `{'0':'X, '1': 'Y'}` (which does not have `join`, `map` or other array methods)

I believe this is a bug. Or it should be documented.

[2017-07-11 07:59] jbucaran commented on #291
@zaceno Yes, you are right. Currently the only supported state types are object, string and number. We should write a proper essay on the state property and include this detail [here](https://github.com/hyperapp/hyperapp/blob/master/docs/state.md).

[2017-07-11 08:00] jbucaran commented on #291
Whoops! 😉

[2017-07-11 18:18] whaaaley commented on #249
I'm with luke here. `hot-reload` isn't hot reloading anything at all. persist would be better.

[2017-07-12 00:18] Pyrolistical commented on #41
good to see minimal boilerplate examples of hyperapp + jsx + webpack

I _hate_ fully integrated production ready bbq templates. Those are just useless to me to understand how stuff works.

[2017-07-12 00:35] jbucaran commented on #41
@Pyrolistical https://github.com/hyperapp/hyperapp/issues/41#issuecomment-280823376

Oh, I know that feeling! 😏

[2017-07-12 01:14] jamen commented on #249
Sure, I can go with `hyperapp-reactor/persist`.

[2017-07-12 02:05] jbucaran commented on #249
Don't fear renaming things if that means we can end up with a clearer and simpler API. Just my 7 cents.

[2017-07-12 06:45] tunnckoCore commented on #41
oh god, you finally unblocked me.

[2017-07-12 08:02] jskrzypek opened #293 "[Examples] Cool project, but the FX+SUBS example is potentially dangerous..."
You should add some kind of seizure warning to the FX+SUBS example, it made me feel a bit ill, and I *dont* have epillepsy. 😄

Seriously though, just adding `(Seizure warning)` next to the example link or a little popup would prevent a lot of people from having really bad days after visiting your site.

[2017-07-12 08:35] Pyrolistical opened #294 "Containers? Yay/nay?"
I hacked up a container mixin: https://github.com/Pyrolistical/hyperapp-container

Usage: https://github.com/Pyrolistical/hyperapp-container/blob/master/example/application.jsx

I took the classic counter example and created a new `<Counter />` component and then created 2 instances of it. Each counter holds its own state. I even demo both how parents can push data down to containers using props a

[2017-07-12 08:54] Swizz commented on #294
As your goal seem pretty aligned, is this possible to have a pretty comparison with [MatejMazur/hyperapp-fragment](https://github.com/MatejMazur/hyperapp-fragment) ?

hyperapp-fragment choose to use an HoF too, but produce a mixin, in a purtiy way. Mixins that be scoped to a fragment of the common state tree.

I may be wrong, hyperapp-container use the same function as HoF **and** mixin, and use o

[2017-07-12 10:11] jbucaran commented on #293
@jskrzypek I know what you mean! I've updated the example to slow down color changes, without making

![2017-07-12 19 09 13](https://user-images.githubusercontent.com/56996/28112920-a85d682a-6735-11e7-8615-a2fe216fa080.gif)

What do you think?

[2017-07-12 10:16] jbucaran commented on #294
@MatejMazur @naugtur Ping.

[2017-07-12 10:41] MatejMazur commented on #294
It looks interesting. I think that it's worth exploring. But as @Swizz mentioned it does everything in the view part of the app as our previous tries. Is it ok? You could avoid that by initializing in mixins (for example `mixins: [Counter(2)]` and then you can call only(!) twice this component in the app.view `<Counter id={1} .. />...<Counter id={2} ... />` but then it looks weird too and it's mor

[2017-07-12 12:32] lukejacksonn commented on #293
or smooth it out with `transition: background Xs` 😉

[2017-07-12 13:46] lukejacksonn commented on #41
@tunnckoCore 👋 welcome back!

[2017-07-12 13:56] jbucaran commented on #41
@tunnckoCore I never meant to block you forever, if you can have civilized discussions, I am ready to have them! 👋

[2017-07-12 14:01] jbucaran commented on #293
@lukejacksonn Woah, thanks! That's way better. I think we can definitely close now.

Thanks @jskrzypek!

[2017-07-12 14:01] #293 closed

[2017-07-12 18:27] Pyrolistical commented on #294
Sorry, but what is HoF?

[2017-07-12 19:00] jskrzypek commented on #293
Much better now!

[2017-07-12 19:18] rqrqrqrq commented on #294
High order function.

Btw i don't expect containers from elm-inspired framework. Elm teach us to use only functions, not components, even for markup we need to reuse. More at https://guide.elm-lang.org/reuse/

[2017-07-12 20:44] naugtur commented on #294
While it's clean to use and works via a single reference to container, it's still stateful components and if you ask me I wouldn't want to use it in an app I'd later have to support.
State in components is sometimes a simpler solution in react+redux (feels bad anyway) but with close to no boilerplate in hyperapp, I don't believe I'd ever need to encapsulate state here and there.

[2017-07-13 00:50] jbucaran commented on #294
@Pyrolistical Nice work! If you find that this pattern works for you in an app-specific basis, sure, why not give it a shot? It's completely up to you and I have no right to tell what to use or not.

While I have no plans to add support to stateful components in core, I enjoy seeing all these clever patterns flourish around HyperApp's single state tree limitations.

[2017-07-13 08:40] jcubic opened #295 "Idea for hyperapp router"
I want to add simple router to hyperapp, I thought that I use something like react router.

I can use url hash as state property, but I need to access action from outside of app, is there something like

init actions:

[code]

Second I want to create Route widget but I need to have something like children
(Something like angularjs transclude or react props.children)

[code]

so I can use:
[code]

[2017-07-13 08:59] jcubic commented on #295
Just notice you TodoMVC app is the router build in? Is it possible to use it with hash? From where this Route mixing coming from? In the app there is:
[code]
but I can find it in repo.

[2017-07-13 09:08] zaceno commented on #295
I think this idea is promising and, to me, a more useful type of router.

Mostly this should be possible!

For the route as state, you could make a state property that tracks the URL by adding an event listener on "hashchange" (in the init event of the app/mixin)

For the route component: you do get the children passed to it. The signature is `(props, children) -> vnode `  The only problem is that

[2017-07-13 09:09] zaceno commented on #295
The router was recently moved to a separate repo hyperapp/router

The todo Mvc example just hasn't been updated yet

[2017-07-13 09:10] zaceno commented on #295
The current router doesn't yet support hash routes (I don't think) but it's been discussed!

[2017-07-13 09:16] jcubic commented on #295
Great, thanks. Will take a look into hyperapp/router and into mixins.

[2017-07-13 10:55] jcubic commented on #295
I have basic app working https://codepen.io/jcubic/pen/mwvMBV?editors=0010

but now I have problem I need to access data from Route widget inside children (to display selected user), to do this I need to update state from widgets but that's I believe is not possible because widgets are stateless.

Any idea how to resolve this? Maybe emit event from widget that will be accessed from Mixin?

[2017-07-13 11:41] zaceno commented on #295
Took a look at your example, but not sure I understand what it is you're trying to achieve. Your example seems to work fine, as you say.

If you need to modify state, that needs to be done via actions. In your example, children of the `Route` have the actions and state in their scope, so they can just use them.

If you're planning to separate out the children of Route (like one component for each

[2017-07-13 11:43] zaceno commented on #295
fwiw I've been working on and off on a solution for mixins with components that get pre-bound to the `state` and `actions` ( I call such components "widgets") so that you can use them without passing state/actions to them explicitly

[2017-07-13 11:51] jcubic commented on #295
That would be awesome, just like components in react+redux, I was looking for something like this.

[2017-07-13 12:01] zaceno commented on #295
Cool! Here's how far I got: https://codepen.io/zaceno/pen/YQjwNa

As you can see it basically works, without changing hyperapp's core, But on the other hand, it's kind of a lot of extra code, and you may want a simpler solution. But by all means use that as an inspiration. :)

[2017-07-13 17:25] xyproto opened #296 "Algernon 1.5 specifically supports HyperApp"
Hi,

If HyperApp code (typically starting with a call to `app`) is saved as a file ending with `.hyper` or `.happ`, [algernon](https://github.com/xyproto/algernon) has built-in support for transpiling from JSX to JS and wrap the resulting JavaScript in HTML and serve it. The server is a single executable that relies on no external libraries or executables.

Please give it a spin and see if this ap

[2017-07-13 19:15] jcubic commented on #295
Your code is interesting but it's lot of code it would be nice if widgets with state and actions would be supported by hypperapp itself. Maybe something like in React when you can have simple functions and classes, I'm thinking about forking the project.

As you suggested I've added actions to Route widget and I'm calling action to update route data from inside Route widget but data is not updatin

[2017-07-13 19:37] zaceno commented on #295
@jcubic  You're right, it is a lot of code. Also, it does more than just widgets (there's the whole "scoped mixin" concept baked in there as well). Anyway it's not done, I'm just kind of playing with patterns to figure out what could/should go into core and what can be left in userland (if the pattern is useful at all -- I kind of took a break from the project to write some actual apps and battle

[2017-07-13 19:54] SkaterDad commented on #295
@jcubic When I run your codepen, there's a runtime error because "data" is not defined in the Route function.
[code]

I'm not sure I understand why you think component classes are needed in this case.  Could you explain what problem that would solve for you?

Hyperapp has a fundamentally different approach than React, since it was inspired by Elm and the idea of having a single state tree, so it m

[2017-07-13 19:57] jcubic commented on #295
Registering route with mixin work but not all the time, maybe there is some race condition bug in hyperapp. I'm chaning hash at the beginning of the script (normal hash don't work on codepen)

If you refresh the page few times sometimes you get Route "/user/{{name}}" and User foo and sometime you don't. Is it a bug? I'm calling action inside widget before it return jsx.

https://codepen.io/jcubic/

[2017-07-13 20:12] zaceno commented on #295
This will generally cause trouble, because calling the action inside there will cause a render while already in a render.

This solution: https://codepen.io/zaceno/pen/YQBBgE?editors=0010 (forked off your earlier version, only diff is line 45) seems to work well. *But* I don't really like the solution since it will effectively render the entire vdom twice for each update. (once for any other state

[2017-07-13 20:18] SkaterDad commented on #295
Was thinking the same thing. :+1:

Hyperapp will work best if the view is a simple `state -> view` function without side effects.

[2017-07-13 20:19] jcubic commented on #295
@SkaterDad it would simplify the app because you don't need to pass state in widgets that return other widgets, and I'm not referring to pure react but redux that have one state tree and each component can map global state object to props so you don't need to use real properties. and the same happen with dispatch that are like actions. That way you can have widgets like `<Todos/>` that don't have

[2017-07-14 01:00] infinnie opened #298 "A problem with the TodoMVC demo"
The code below in index.js (https://glitch.com/edit/#!/hyperapp-todomvc?path=index.js:242:5 )

causes the app to fail to show all items when navigating to `/` using browser history.

A fix:
[code]

[2017-07-14 01:42] jbucaran commented on #296
@xyproto Sweet! Thanks for letting us know! 😏👍

If the file's extension was .hyper.jsx or .hyper.js, then syntax highlighting would be available in most editors out of the box without much fiddling with your configuration. Would you consider supporting those extension combinations as well?

[2017-07-14 01:46] jbucaran commented on #298
Thanks @infinnie! It should be fixed now.

[2017-07-14 01:46] #298 closed

[2017-07-14 12:18] xyproto commented on #296
Released Algernon 1.5.1 with support for the `.hyper.jsx` and `.hyper.js` extension.

There is also support for styling with the `--theme` flag (select from one of 4 built-in themes) or a `style.gcss` file being present. The style from [hyperapp.glitch.me](https://hyperapp.glitch.me/) is now being used by default for HyperApp, hope that's fine (I could not find a license file for [style.css](https

[2017-07-14 15:25] w-mcilhagga opened #299 "Namespacing wrong when adding children to SVG tag"
I have an app which makes random svg circles (test case for a bigger project). Initially there are three circles, but a button lets you add more.

The new circle elements are added, but with the **wrong** namespace: xhtml rather than svg (tested in Chrome 59.0.3071.115). This can be seen by opening the developer tools, going to elements, and then clicking "Add Circle". A new circle tag is added bu

[2017-07-14 15:27] w-mcilhagga commented on #299
soz, the code missed out a body tag at the start

[2017-07-14 15:28] rosenfeld opened #300 "Keyed benchmark comparison"
Are there any reasons why hyperapp is only mentioned in the non-keyed section of the referred benchmark in the documentation? It seems hyperapp already supports keyed reconciliation. Is it complicated to update the benchmarks to include HyperApp in the keyed comparison table as well?

https://rawgit.com/krausest/js-framework-benchmark/master/webdriver-ts-results/table.html

[2017-07-14 22:23] jbucaran commented on #300
No particular reason. When I first added it, there was no difference and I was still hoping I could find a good compromise between the two, but that never happened. It should be added at some point.

[2017-07-14 22:29] jbucaran commented on #299
@w-mcilhagga You can edit posts on GitHub. Click on the little pencil next to the add reaction button.

Also have a look at [Code Blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) on GitHub docs.

@ngryman Do you have any idea what's happening with the SVG here?

[2017-07-14 23:37] andyrj commented on #300
When I get js-framework-benchmark running I will send a PR with 0.10.0 in keyed comparison.

[2017-07-14 23:54] andyrj opened #301 "Undefined element after initial patch"
Just wanted to create this issue to be sure and not forget that this bug was spotted by @ngryman while messing with the recycle PR.

https://hyperappjs.slack.com/archives/C41ECC0V6/p1499996121395572

[2017-07-15 00:17] jbucaran commented on #301
@andyrj Can you explain the bug instead of posting a link?

[2017-07-15 00:50] andyrj commented on #301
@ngryman noticed that element === undefined, beyond the first patch() call when it shouldn't be.

He was debugging it and mentioned the part of the patch function that appeared to cause the bug in that slack message.

[code]

[2017-07-15 00:50] andyrj commented on #301
Bleh on phone can't edit the above code block, refer to the slack message.

[2017-07-15 00:55] jbucaran commented on #301
@ngryman How can I repro the bug?

[2017-07-15 01:05] andyrj commented on #301
I tested on dbmon with console.log and also saw what he did.

[2017-07-15 01:41] andyrj commented on #301
Repro code for app.js
[code]

this is a branch of a repo updated to use local build of hyperapp on my machine you may have to edit the hyperapp/index.html to point to wherever on disk it is relative to this project.

https://github.com/andyrj/js-repaint-perfs/tree/repro-undef-elm

[2017-07-15 02:22] andyrj commented on #301
This isn't a bug, sorry stepped through repro and it's working as intended on this sorry for noise...

[2017-07-15 02:22] #301 closed

[2017-07-15 10:40] w-mcilhagga commented on #299
**@jbucaran** thanks, edited & simplified bug report. Somewhere along the line the namespace is being lost for the new circle elements. Noticed that patch doesn't have an isSVG flag or seem to pass it along. Does that matter?

[2017-07-15 10:45] ngryman commented on #299
For now `hyperapp` only namespace the `svg` tag: https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L129.
Since you are adding a `circle` svg tag, it's not namespaced.

[2017-07-15 10:51] w-mcilhagga commented on #299
**@ngryman** Not sure I understand that - the first 3 circles in the svg tag (provided on init) are correctly namespaced, because createElement passes on the isSVG flag to its children. It's the new ones (inside the svg tag) that fail. Is that because patch **doesn't** pass an isSVG flag??

[2017-07-15 10:53] ngryman commented on #299
@w-mcilhagga Yes right. Children of a `svg` tag inherit the `isSVG` flag. So when you first render it they are namespaced. But as you manually add a `circle` tag later, it does not inherit `isSVG` from a parent `svg` tag. So it's not namespaced.

[2017-07-15 10:55] ngryman commented on #299
Basically that would involve that `hyperapp` checks for every `svg` elements possible and patch the give code like this:

[code]

But that would make the bundle size explode.

[2017-07-15 10:58] ngryman commented on #299
@jbucaran Could we propagate the `isSVG` flag when patching by checking if the current `vnode` is a `svg` here: https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L288?
That would make any new children as flagged as `svg` element.

[2017-07-15 10:58] w-mcilhagga commented on #299
**@ngryman** but it would make it work too. I know 1KB is an incredible figure for something so capable, but exploding to 1.1KB is still plenty of boasting rights

[2017-07-15 10:59] ngryman commented on #299
@w-mcilhagga See my above comment, I think it could be solved without this brute force method.

[2017-07-15 12:34] jbucaran commented on #299
What do you mean by "current vnode is a svg"?

[2017-07-15 12:37] w-mcilhagga commented on #299
OK, patched the patch function. This works:

[code]

[2017-07-15 12:53] w-mcilhagga commented on #299
For the far future, might be an idea to replace isSVG with a namespace (defaults to xhtml) and just use ```createElementNS``` all the time. That way, can use mathml with hyperapp as well.

[2017-07-15 12:56] w-mcilhagga commented on #299
BTW forgot to say, cool framework. Really like it.

[2017-07-15 13:03] jbucaran commented on #299
@w-mcilhagga Thanks! I'll refactor this patch a bit and create a commit soon with other small refactors I am working on (unless you really want to send me a PR).

I'll make sure to thank you in the message!

BTW good job, got this to work too! 🎉

![2017-07-15 22 01 26](https://user-images.githubusercontent.com/56996/28239530-5205de82-69a9-11e7-88ae-7a45a99b7614.gif)

[2017-07-15 13:06] w-mcilhagga commented on #299
that's pretty insane.

[2017-07-15 13:07] jcubic opened #302 "More docs for mixins"
It would be nice to have more docs about mixins (how they work and what the API is) right now only logger mixin in docs and [hyperapp/router](https://github.com/hyperapp/router) (don't know if there are any more mixins), the second one is more complex mixin but it don't have any comments in it.

Comments are fine as docs, it would be nice if router have them.

[2017-07-15 14:05] jbucaran commented on #299
Hmmm. Can you comment on this?

[2017-07-15 15:28] w-mcilhagga commented on #299
Not really. Comes up when you hit the move button. I figured your change detection just checks to see if the node attribute object is the same as before (i.e. same pointer) but doesn't check to see if the contents of the attribute object has changed.

This is probably justifiable in terms of functional programming, immutable objects etc. etc. but might need flagging in the docs.

[2017-07-15 16:39] ngryman commented on #299
@w-mcilhagga Thanks for you patch, that's exactly what I meant 👍

[2017-07-15 17:10] w-mcilhagga commented on #299
You're welcome, I was fairly sure the issue was in patch, maybe just needed a nudge from u to go ahead and try to fix it.

[2017-07-15 23:25] lukejacksonn commented on #302
@jcubic 👋 more docs and/or comments would be great! Did you manage to get your head around the router mixin? It now lives at https://github.com/hyperapp/router if you have time to go through and comment it we'd review the PR.

Could you outline what wasn't made clear in the docs, so we can make them better?

[2017-07-15 23:51] #294 closed

[2017-07-15 23:59] lukejacksonn commented on #272
Thanks for the feedback y'all.. closing this for now!

[2017-07-15 23:59] #272 closed

[2017-07-16 07:10] jcubic commented on #302
I would love to add comments or more into to the docs but have hard time to figure out what is what in the router.

The docs for mixin is just one example with logger that have actions event (one only API in that example) that's execute on every actions that have been called, and router have lot more parts and I don't know which one came from mixin api and which one is just helpers.

Are there any

[2017-07-16 14:22] jbucaran commented on #296
Great news! Thanks. 👍

[2017-07-16 14:22] #296 closed

[2017-07-16 14:28] #299 closed

[2017-07-16 14:28] jbucaran commented on #156
https://github.com/hyperapp/hyperapp/commit/010172ca36596deef445ec2292478cd99c0c1a5b

[2017-07-16 14:28] #156 closed

[2017-07-16 14:32] jbucaran commented on #302
@jcubic I've added a new item to the roadmap. Do feel free to add more comments here and continue the conversation, but I'll close here and track this on #244.

[2017-07-16 14:32] #302 closed

[2017-07-16 14:35] jbucaran commented on #41
This issue has been open for the longest time now! 🎉

I'll cut to the case. I am not interested on a CLI tool to scaffold a new hyperapp project at this moment (but I could change my mind). I mostly agree with @lukejacksonn in that:

[2017-07-16 14:35] #41 closed

[2017-07-16 14:38] jbucaran commented on #146
Now that https://hyperapp.js.org is live, we should track the future of the home page [here](https://github.com/hyperapp/website), so we let's close. 🤘

Thank you @lukejacksonn for working on this and to @Idered for all the great inspiration. Please feel free to open an issue on the repo linked above to continue the discussion. 🙇

[2017-07-16 14:38] #146 closed

[2017-07-16 14:39] jbucaran commented on #87
Closing in favor of https://github.com/hyperapp/hyperapp/pull/279.

[2017-07-16 14:39] #87 closed

[2017-07-16 14:42] jbucaran commented on #291
@zaceno Added it to #244.

[2017-07-16 14:42] #291 closed

[2017-07-16 14:43] jbucaran commented on #295
@jcubic @zaceno @SkaterDad Do you think we can move this discussion to https://github.com/hyperapp/router and close here? 👋

[2017-07-16 15:04] jbucaran commented on #300
@andyrj Sounds good. Let's do it after we figure out recycling #297.

[2017-07-16 15:04] #300 closed

[2017-07-16 16:02] JustFly1984 opened #303 "Question: Do you support immutable.js for the state?"

[2017-07-16 16:12] jbucaran commented on #303
@JustFly1984 Do you mean using the [immutable.js](https://facebook.github.io/immutable-js/) library and HyperApp?

[2017-07-16 16:22] JustFly1984 commented on #303
exactly)

[2017-07-16 16:25] jbucaran commented on #303
HyperApp can certainly be used (and has been used in the past) with immutable.js, ramda, rxjs, lodash, etc. Feel free to try it out with any of them and break it! 😄:+1:

[2017-07-16 16:25] #303 closed

[2017-07-16 19:15] zaceno commented on #295
@jbucaran: I (speaking only for myself, of course) think we can close this here, but don't think we need to move anything to the router-repo, because as of yet we don't have anything concrete.

But in saying we can close the issue, I don't mean the discussion should end -- quite the opposite!
(Is it possible to migrate an entire issue with all the discussions et c from one repo to another?)

The b

[2017-07-17 01:54] SkaterDad commented on #295
I agree this could be closed.  Also not sure it's worth migrating any of this to the router repo.

What this discussion highlights to me is that JSX makes things awkward since you're forced to write your functions in a very specifc way.  I don't personally use it, so it's hard for me to relate.  I see the appeal, but it seems restrictive.

@jcubic 's example of `<Navigation state={state} actions={

[2017-07-17 09:09] zaceno commented on #295
Interesting! Because it should be possible to expose the match function to all views, if you make it an event, and "call" it using emit. So you wouldn't have to pass it along as a prop (although you certainly could, the emit-pattern lends itself more nicely for wrapping it all up in a mixin)

[2017-07-18 00:11] lukejacksonn commented on #303
Just a word on this @JustFly1984.. HyperApp only supports primitive javascript types (int, string, array, object, etc.) states, most commonly JavaScript objects. Immutable JS doesn't work with real javascript objects. If you are only only get out JS objects from state and anre only allowed to put JS objects into the state.. then you find yourself doing  [`.fromJS()`](https://facebook.github.io/imm

[2017-07-18 00:33] lukejacksonn commented on #295
I :heart: where this is going! @SkaterDad I am going to take inspiration from that last example and have a play.. I feel a component based router like this are the way to go. One state and one view feels _right_ (so long as there is no redundant processing of `h` functions that @zaceno points out).

In that [RR4 talk](https://www.youtube.com/watch?v=Vur2dAFZ4GE) they were really hinting that this

[2017-07-18 16:54] JustFly1984 commented on #303
There is an Record API, which has similar ( but not completely ) API to
vanilla JS.

2017-07-18 8:19 GMT+08:00 Luke Jackson <notifications@github.com>:

[2017-07-19 07:59] mauron85 opened #306 "Drawing on canvas or Refs and the DOM"
I've found very cool examples here using SVG animation. However not found any canvas ~animation~ drawing examples.

I'm trying to develop hyperapp PieCountdown component [as this one](https://jsfiddle.net/mauron85/rog8nd75/).

In React I would use [Refs](https://facebook.github.io/react/docs/refs-and-the-dom.html) to get access to canvas DOM element.

[code]

Is it possible to get access to raw DO

[2017-07-19 08:36] Swizz commented on #306
Refs mechanics is also possible in Vue through `$refs`. And I am also working with to draw canvas with Vue.

Here, I probably would to use Lifecycle events to store the context into the state tree and key to ensure canvas to do not be replaced. I dont know if this is more optimal than Refs. But it could do the trick.

[code]

[2017-07-19 09:26] mauron85 commented on #306
I would like to see components having their own lifecycle so we don't have to store state in root `app` component, but considering what is currently possible with hyperapp, this is actually pretty damn close.

[2017-07-19 09:37] Swizz commented on #306
We are not on the way to support stateful components. Hyperapp encourage the use of a single state/actions tree along all the app.

Some Mixins allows you to fragment some part of the single state tree to create an isolated scope around stateless components : [hyperapp-fragment](https://github.com/MatejMazur/hyperapp-fragment)

[2017-07-19 09:42] mauron85 commented on #306
Found some small issues with your gist:

https://gist.github.com/Swizz/56dd2a19134c208a67142bd95d1efd8a#file-app-js-L7
I guess it should be:
[code]

https://gist.github.com/Swizz/56dd2a19134c208a67142bd95d1efd8a#file-refs-js-L26
Should be bracket instead of parenthesis

[2017-07-19 09:47] Swizz commented on #306
I wrote the gist without any kind of test. Just a written mind flow as a proof of concept. I will fix that.

[2017-07-19 09:50] mauron85 commented on #306
@Swizz I'm thankful, you provided this no matter what. No offence. Just trying to be helpful.

Here another one:
https://gist.github.com/Swizz/56dd2a19134c208a67142bd95d1efd8a#file-refs-js-L35
and
https://gist.github.com/Swizz/56dd2a19134c208a67142bd95d1efd8a#file-refs-js-L36
[code]

[2017-07-19 09:51] Swizz commented on #306
Provide your comments on the gist comments directly ^^
To do not bother hyperapp watchers

[2017-07-19 10:42] jbucaran commented on #306
Components have their own [lifecycle events](https://github.com/hyperapp/hyperapp/blob/master/docs/lifecycle-events.md). The problem is components and lifecycle events are separated in the docs, making this confusing. I'll address this in a future doc update.

[2017-07-19 10:42] jbucaran commented on #306
Components have their own [lifecycle events](https://github.com/hyperapp/hyperapp/blob/master/docs/lifecycle-events.md). The problem is components and lifecycle events are separated in the docs, making this confusing. I'll address this in a future doc update.

/cc @mauron85

[2017-07-19 10:51] mauron85 commented on #306
@jbucaran I completely miss this. This is actually what I was looking for.

[2017-07-19 11:09] jbucaran commented on #306
@mauron85 Great, I'll close here now then.

[2017-07-19 11:09] #306 closed

[2017-07-19 11:46] mauron85 commented on #306
@Swizz @jbucaran

Ok. My use case is something like this:

[code]

It seems that in this case it `onremove` callback will not be called.

Source: https://github.com/hyperapp/hyperapp/pull/229#discussion_r120693612

Any idea, how to workaround this?

[2017-07-19 12:17] mauron85 commented on #306
For future reference I've made simple demo Component, using just `oninsert` listener.

https://jsfiddle.net/mauron85/1hzzmxor/

[2017-07-19 13:00] jbucaran commented on #306
@mauron85 Maybe onremove is not getting called because the element is not being removed, but replaced? We could never figure out what to do exactly then. The current behavior is to call onremove only when elements are actually going to be removed.

Also, make sure to actually _remove_ the element yourself if you do use the event handler.

@zaceno Can you chime in?

[2017-07-19 13:45] zaceno commented on #306
@jbucaran @mauron85 I think the problem here is that keys don't have any effect when used on the top level node (we don't even check for keys there).  And that means that the node won't be removed, just updated. That's why onremove is never called.

To confirm it, try putting a `h('div', {}, [ ... ])` around your canvas node.

[2017-07-19 14:42] jbucaran commented on #306
I just noticed there's just a single `canvas` node. Is it just me or does it make sense to be able to delete the top node? 🤔

[2017-07-19 14:48] Swizz commented on #306
I tried to make my ref proof of concept covering all cases :confused:

[2017-07-19 15:22] mauron85 commented on #306
Ok I just made two examples:

### First https://jsfiddle.net/mauron85/1hzzmxor/3/:

In this example `onremove/onupdate` listeners are not called after `STOP` button is clicked, so internal component setInterval will continue to operate event canvas element was already removed from DOM.

This is probably due Components in different states are not same (button vs div)
[code]

### Second https://jsfi

[2017-07-19 15:26] Swizz commented on #306
@jbucaran @zaceno Why do you chose to do not remove the element when `onremove` lifecycle event exist ?
To let the user the "remove when you want" or "do not delete" possibilities ?

[2017-07-19 15:28] zaceno commented on #306
@Swizz: right. One common use case for the onremove event is to attach css-transitions and let the element slide/fade out nicely. But that means we can't remove the dom node until the transition is complete, so we leave it up to the user.

Probably, it's a quite common case that if you want to use the onremove event, you want some sort of control over when the element actually goes away.

[2017-07-19 15:51] mauron85 commented on #306
Looking at https://github.com/hyperapp/hyperapp/blob/master/src/app.js#L202
Why not send also `parent` to onremove listener? So it could be removed same way as in `removeElement` function.

[code]

[2017-07-19 15:56] Swizz commented on #306
And what about a `before remove` and `after remove` lifecycle ?
I know this introduce more logics and open the discussion about `before update` and `after update`.

Or we can dig into something like the the create/insert duality

---

### onremove

Type: ([element](https://developer.mozilla.org/en-US/docs/Web/API/Element))

The onremove event is fired when the element is going to be removed from t

[2017-07-19 15:57] jbucaran commented on #306
@mauron85 Yep, we could send the parent, you are right. Or we could send a "bound" function that removes the element for you too. We had a few interesting options, but went with the simplest.

[code]

[2017-07-19 15:58] jbucaran commented on #306
@mauron85 In which example is onupdate not being fired? :thi

[2017-07-19 16:06] Swizz commented on #306
@jbucaran The remove hook from Snabbdom with its `done` callback seem pretty interesting. https://github.com/snabbdom/snabbdom#the-remove-hook

[2017-07-19 16:08] mauron85 commented on #306
My point is just to stay consistent with hyperapp code.

first one

Asking too many questions here and yet have another one. Does passing `key` prop works with JSX?
If not, maybe that is reason why onupdate is not called in example 1.
[code]

[2017-07-19 17:03] jbucaran commented on #306
@mauron85 onupdate is called every time the vdom needs to set your element's data, that is, when the stuff in the new node !== stuff in the old node.

The caveats are, we can't diff functions, so onupdate will fire if you are using any DOM event handler.

[code]

I see you are not, so onupdate should only fire if height and width change.

Now, onupdate **will not fire** if `key`, which is a hypera

[2017-07-19 17:08] zaceno commented on #306
@mauron85 @Swizz We used to send a method that removes the element, as the second argument (instead of the parent). That's a little like a done-callback, sort of.

Apparently we stopped doing that though. I missed that change. When was that, @jbucaran ?

(...I've got to go update my transitions library because it counts on the `remove` method being passed to the onremove handler.)

[2017-07-19 17:13] zaceno commented on #306
@Swizz just having an `onbeforeremove` and `onafterremove` won't help the transitions case, because in that case, the logic (timing) of the transition needs to control when the dom-element is removed from the dom.  Hyperapp can't know that I want to fade my element out over precisely 0.3 s, and *then* remove it.

[2017-07-19 17:28] mauron85 commented on #306
In matter of fact I'm not changing keys or updating Component props. I exchanging components depending on state. Look in Root component switch statement (it's a state machine, well kind of).

[code]

So possible transitions are:
* STOPPED -> RUNNING (wrapped Countdown (has canvas child) component is replaced with simple button)
* RUNNING -> STOPPED (button is replaced with wrapped Countdown)

I wo

[2017-07-19 17:31] jbucaran commented on #306
Recent commit, before 0.10.0 I think. This was an undocumented thing, so can't complain. 😉😏

[2017-07-19 17:32] jbucaran commented on #306
@mauron85 onupdate fires for elements that are alive and whose data / attributes change. If none of your element's attributes changed, then how does hyperapp know when to call it?

[2017-07-19 17:40] mauron85 commented on #306
@jbucaran I just mentioned `onupdate` because of lack of hyperapp internals, so I've put both `onupdate` and `onremove` listeners and expected at least one to fire (but none was in example 1). Now I understand `onupdate` not being fired, but why `onremove` is not called, when element was actually removed?

[2017-07-19 17:43] jbucaran commented on #306
@mauron85 The element was not removed, it was replaced by another element. Correct?

We don't call onremove because it would then behave differently to the current onremove, which fires before an element is actually removed.

Maybe this is another use case for _keys_? If you use keys, I think your element will not be replaced.

[2017-07-19 17:51] mauron85 commented on #306
Ok this is how it looks on DOM level:

EDIT: it looks for me like `onremove` is only working for one level of hierarchy only.

In my case DOM structure looks like:

Example 1:

transition: STOPPED-> RUNNING
[code]
transition: RUNNING -> STOPPED
[code]

No `onupdate` or `onremove` is fired. If I understand you correctly, you're saying element was replaced. Is it meaning this situation is not handle

[2017-07-19 17:54] zaceno commented on #306
@jbucaran, As far as I can tell @mauron85 is using keys correctly.
@mauron85 : I think you're right: just like keys don't do anything for the top-level node, the top level node can never have onremove called on it, because it will always be replaced (one might expect onupdate to be called on the top div though)

[2017-07-19 18:00] zaceno commented on #306
Important thing to note: onremove is pretty much useless without keyed nodes, because of how the vdom engine works. Without keys, the elements that get removed are just "whatever elements are left over" after the `patch` function has run. I.e: could be any random element.

When using onremove you always (I presume) care *which* node is being removed. And the only way to know is if you key it.

Hen

[2017-07-19 18:04] mauron85 commented on #306
@zaceno basically that's what you said in the beginning and I was pretty much ignoring it :-).

The only problem I see here is that for me top node is app root element. But it'seems it's not the case. As far I understand the problem, top node for hyperapp is actually the child of root. Correct?
[code]

[2017-07-19 18:06] jbucaran commented on #306
@mauron85 Hmm good point, maybe `root` was not the best name? The root is untouchable, as it is **not** managed by hyperapp. The vdom only touches the stuff it creates itself, starting at the top level node, a.k.a `element` in the source code.

[2017-07-19 18:08] zaceno commented on #306
@mauron85  Yup that's right. I called it "top-node" specifically to avoid confusion with root (which is an *element* -- not a virtual dom node, btw). But yeah. The first, topmost `h(...` call or `<div..` inside your `view: (state, actions) => ...` is the thing that can't be keyed nor have onremove bound to it.

I agree that's kind of unexpected. I mean I get why it is, but I had never thought of i

[2017-07-19 18:09] jbucaran commented on #306
@zaceno How can we phrase this and add it to the docs? 🤔

[2017-07-19 18:22] mauron85 commented on #306
Isn't it somehow possible to make root element also a virtual node? So it would also "top-node"?

[2017-07-19 18:25] jbucaran commented on #306
@mauron85 Maybe if we obliterated the supplied root. But we don't do that, instead, we coexist.

[2017-07-19 18:38] mauron85 commented on #306
@jbucaran please reconsider ;-). Normally I don't like argumentation `React is doing`, so we have too. But in this case I vote for it.

HyperApp:
https://jsfiddle.net/mauron85/nh4ma9d8/

React:
https://jsfiddle.net/mauron85/sy77ss6x/

[2017-07-19 18:53] zaceno commented on #306
@jbucaran -- Not sure. I think we do it in two parts. For keys.md we need to make clear keys have no effect on the top node (that's the first non-obvious part). For lifecycle methods, it would probably be good to clarify in what conditions onremove is called, and why it only makes sense if it's keyed. Then it's just a parenthesis to point out that "hence, onremove will never be called for the topm

[2017-07-19 19:13] jbucaran commented on #306
I have no strong opinion on the subject. I think your suggestion could even make for less code, not sure.

This is not the place to discuss it, though. Please open a new issue and let's see what everyone thinks. 😄👍

[2017-07-19 19:14] jbucaran commented on #306
Yes, let's do that after we come to an agreement about what to do with root/top-level elements, since I find @mauron85's suggestion interesting.

[2017-07-19 20:17] zaceno commented on #306
@jbucaran Sorry didn't read your note to wait - made the PR just now 😛

[2017-07-19 20:20] zaceno commented on #306
@mauron85

I seem to remember @ngryman having some use case for this? (He seems mostly sane, profile pic notwithstanding 😉  )

[2017-07-21 18:21] dylan opened #310 "Removing Elements/Nodes Asynchronously(?)"
Here's a fiddle to illustrate my use case: https://jsfiddle.net/dylanrw/mcg324a4/

Typically there isn't a problem, if state changes, I want the irrelevant elements removed. But when it comes to animating elements before removal, it would be nice if I could begin a transition and have the removal/sorting process occur once that transition is completed, or do something to have the soon-to-be-remove

[2017-07-22 01:47] zaceno commented on #310
I think the title of this issue is probably incorrect. Or at least the "element" part anyway. Because the problem here isnt that the element needs to stay in the dom until a transition is done (it already does) but once the keyed node is no longer in the virtual tree, the patch algorithm will shuffle the elements around, causing the element that will be removed later, to find a new position among

[2017-07-22 04:19] jbucaran commented on #310
Is https://github.com/hyperapp/hyperapp/pull/312 related to this?

[2017-07-22 11:19] zaceno commented on #310
@jbucaran Not related, no. Or... only tangentially:

My second option for working around the issue @dylan brought up, which is to track element coordinates, requires notification when layout changes. #312 is a solution for that.

An alternative to #312 would be to just attach dummy props to the nodes, with function value or Math.random(), to ensure that onupdate gets called every state change.

[2017-07-22 11:20] jbucaran commented on #310
@zaceno So what you want is an event that runs on DOM nodes every time the state changes?

[2017-07-22 11:43] zaceno commented on #310
@jbucaran For the use case of tracking positions, every state-change *works*, but is *wasteful*. It would be enough with an event when layout changes, and #312 is trying to provide that.